<h1 mat-dialog-title>
  {{ 'COMPONENTS__SKILLTREE_CHANGE_ICON_DIALOG__TITLE' | translate }}
</h1>
<div mat-dialog-content>
  <div fxLayout="column">
    <mat-form-field>
      <mat-label>{{ 'COMPONENTS__SKILLTREE_CHANGE_ICON_DIALOG__MATERIAL' | translate }} (1.13+)</mat-label>
      <span matPrefix>minecraft:</span>
      <input matInput placeholder="sapling" [(ngModel)]="material" type="text" #materialInput="ngModel">
    </mat-form-field>

    <mat-checkbox [(ngModel)]="glowing" class="spacer-b-1em">
      {{ 'COMPONENTS__SKILLTREE_CHANGE_ICON_DIALOG__GLOWING' | translate }}
    </mat-checkbox>

    <button mat-raised-button (click)="done()" color="primary">
      {{ 'COMPONENTS__SKILLTREE_CHANGE_ICON_DIALOG__DONE' | translate }}
    </button>
  </div>
</div>

