<mat-toolbar class="spacer-b-1em" fxLayout="row wrap" fxLayoutGap="1em" role="toolbar">
  <button mat-raised-button (click)="selectMobType()">
    {{ 'COMPONENTS__SKILLTREE_PROPERTIES__SELECT_MOB_TYPE' | translate }}
  </button>
  <button mat-raised-button (click)="changeIcon()">
    {{ 'COMPONENTS__SKILLTREE_PROPERTIES__CHANGE_ICON' | translate }}
  </button>
</mat-toolbar>

<div fxLayout.gt-md="row wrap" fxLayout.lt-md="column" fxLayoutGap="1em">
  <mat-card fxLayout="column" fxFlex.gt-md="calc(50% - 0.5em)" fxFlex="100">
    <mat-form-field>
      <input matInput [placeholder]="'COMPONENTS__SKILLTREE_PROPERTIES__SKILLTREE_ID' | translate"
             [formControl]="id" (blur)="rename(id)" [appSkilltreeDuplicate]="skilltreeNames" required
             pattern="[a-zA-Z0-9.-_]*">
      <mat-error *ngIf="id.errors?.skilltreeDuplicate">
        {{ 'COMPONENTS__SKILLTREE_PROPERTIES__ERROR_DUPLICATE' | translate }}
      </mat-error>
      <mat-error *ngIf="id.errors?.required">
        {{ 'COMPONENTS__SKILLTREE_PROPERTIES__ERROR_REQUIRED' | translate }}
      </mat-error>
      <mat-error *ngIf="id.errors?.pattern">
        {{ 'COMPONENTS__SKILLTREE_PROPERTIES__ERROR_INVALID' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [placeholder]="'COMPONENTS__SKILLTREE_PROPERTIES__DISPLAY_NAME' | translate"
             [formControl]="name" (blur)="update('name',name)">
    </mat-form-field>
    <mat-form-field>
      <span matPrefix>MyPet.skilltree.</span>
      <input matInput pattern="[^\s]*" [formControl]="permission" (blur)="update('permission',permission)"
             [placeholder]="(!permission.value ? 'COMPONENTS__SKILLTREE_PROPERTIES__PERMISSION_INPUT_EMPTY' : 'COMPONENTS__SKILLTREE_PROPERTIES__PERMISSION_INPUT') | translate:{id: id.value} ">
      <button mat-raised-button matSuffix color="primary" ngxClipboard
              [cbContent]="'MyPet.skilltree.' + (permission.value ? permission.value : id.value)"
              (click)="notifyCopy()" matTooltipPosition="left"
              [matTooltip]="'COMPONENTS__SKILLTREE_PROPERTIES__COPY_PERMISSION' | translate">
        <mat-icon svgIcon="content_copy">content_copy</mat-icon>
      </button>
      <mat-error *ngIf="permission.errors?.pattern">
        {{ 'COMPONENTS__SKILLTREE_PROPERTIES__ERROR_NO_WHITESPACES' | translate }}
      </mat-error>
    </mat-form-field>
  </mat-card>
  <mat-card fxLayout="column" fxFlex.gt-md="calc(50% - 0.5em)" fxFlex="100">
    <mat-form-field>
      <input matInput [placeholder]="'COMPONENTS__SKILLTREE_PROPERTIES__REQUIRED_LEVEL' | translate"
             [formControl]="requiredLevel"
             (blur)="update('requiredLevel',requiredLevel)" pattern="\d*" type="number">
      <mat-error *ngIf="requiredLevel.errors?.pattern">
        {{ 'COMPONENTS__SKILLTREE_PROPERTIES__ERROR_NO_NUMBER' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             [placeholder]="'COMPONENTS__SKILLTREE_PROPERTIES__MAX_LEVEL' | translate"
             [formControl]="maxLevel" type="number"
             (blur)="update('maxLevel',maxLevel)"
             pattern="\d*">
      <mat-error *ngIf="maxLevel.errors?.pattern">
        {{ 'COMPONENTS__SKILLTREE_PROPERTIES__ERROR_NO_NUMBER' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select
        [placeholder]="'COMPONENTS__SKILLTREE_PROPERTIES__INHERITANCE' | translate"
        [formControl]="inheritedSkilltreeName"
        (selectionChange)="updateInheritance('skilltree',inheritedSkilltreeName)">
        <mat-option [value]="null">{{ 'COMPONENTS__SKILLTREE_PROPERTIES__INHERITANCE_NONE' | translate }}</mat-option>
        <mat-optgroup [label]="'COMPONENTS__SKILLTREE_PROPERTIES__INHERITANCE_SKILLTREES' | translate">
          <mat-option *ngFor="let skilltreeName of skilltreeNames"
                      [value]="skilltreeName">{{ skilltreeName }}</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </mat-card>
</div>

<mat-card fxLayout="column" class="spacer-b-1em spacer-t-1em">
  <mat-form-field fxFlex="100">
    <textarea matInput
              [placeholder]="'COMPONENTS__SKILLTREE_PROPERTIES__DESCRIPTION' | translate"
              (keyup)="parseTextArea()" [formControl]="description"
              (blur)="updateDescription()" style="min-height: 150px"></textarea>
  </mat-form-field>
  <div class="codebox">
    <ul>
      <li *ngFor="let line of _description" [innerHTML]="line | mcChat"></li>
    </ul>
  </div>
</mat-card>
