<mat-form-field>
  <span matPrefix>MyPet.skilltree.</span>
  <input matInput pattern="[^\s]*" [formControl]="permissionControl"
         [placeholder]="'COMPONENTS__SKILLTREE_REQUIREMENTS__PERMISSION__INPUT' | translate" (blur)="update()">
  <button mat-raised-button matSuffix color="primary" ngxClipboard
          [cbContent]="'MyPet.skilltree.' + (permissionControl.value != '' ? permissionControl.value : skilltree.id)"
          (click)="notifyCopy()" matTooltipPosition="left"
          [matTooltip]="'COMPONENTS__SKILLTREE_REQUIREMENTS__PERMISSION__COPY' | translate">
    <mat-icon svgIcon="content_copy">content_copy</mat-icon>
  </button>
  <mat-error *ngIf="permissionControl.errors?.pattern">
    {{ 'COMPONENTS__SKILLTREE_REQUIREMENTS__PERMISSION__ERROR_NO_WHITESPACES' | translate }}
  </mat-error>
</mat-form-field>
