body {
  scrollbar-face-color: #2E7D32;
  scrollbar-shadow-color: transparent;
  scrollbar-highlight-color: transparent;
  scrollbar-3dlight-color: transparent;
  scrollbar-darkshadow-color: transparent;
  scrollbar-track-color: transparent;
  scrollbar-arrow-color: transparent;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #2E7D32;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #43A047;
  }
}