html, body, main {
  min-width: 600px;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.hbox {
  display: flex;
  flex-direction: row;
}

.main {
  justify-content: space-between;
}

header, footer, .mdl-layout__header {
  height: 60px;
  color: white;
}

@media screen and (max-width: 1024px) {
  .mdl-layout__header {
    display: flex;
  }
}

.mdl-layout__header-row .mdl-navigation__link {
  color: white;
}

.main, article, aside, nav, .child {
  flex: 1;
}

nav.sidebar {
  min-width: 70px;
  max-width: 70px;
  border-right: 1px solid #00C853;
}

.wants-to-shrink {
  flex-shrink: 1;
}

.wants-to-grow {
  flex-grow: 1;
}

.stay-size {
  flex-grow: 0;
  flex-shrink: 0;
}

.child.scroll {
  overflow-y: scroll;
  max-height: 100%;
}
