<h1 mat-dialog-title>Select Mob Types:</h1>
<div class="mob-type-select">
  <ul>
    <li *ngFor="let type of types">
      <a (click)="type.selected = !type.selected">
        <img [ngClass]="{selected: type.selected}" [src]="'assets/img/mobheads/' +  type.name + '.png'"
             [matTooltip]="type.name">
      </a>
    </li>
  </ul>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="selectAll()">Select All</button>
  <button mat-raised-button (click)="selectNone()">Unselect All</button>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="done()">Done</button>
</div>


