<h1 mat-dialog-title>Select Mob Types:</h1>
<div class="mob-type-select">
  <ul>
    <li *ngFor="let type of types">
      <a (click)="toggleType(type)">
        <img [ngClass]="{selected: type.selected}" [src]="'assets/img/mobheads/' +  type.name + '.png'"
             [matTooltip]="type.name">
      </a>
    </li>
  </ul>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="selectAll()">All</button>
  <button mat-raised-button (click)="selectNone()">None</button>
  <button mat-raised-button color="primary" (click)="done()" [disabled]="selected == 0">Done</button>
</div>
