<md-card class="small">
  <button md-button (click)="addSkilltree()">Add Skilltree</button>
</md-card>

<md-card>
  <md-nav-list dense>
    <md-list-item *ngFor="let skilltree of selected.skilltrees" (click)="selectSkilltree(skilltree)"
                  [ngClass]="{selected: selectedSkilltree == skilltree}">
      <img md-list-avatar src="assets/img/mobheads/All.png">

      <h3 md-line> {{skilltree.displayName}} </h3>
      <p md-line>
        <span>{{skilltree.name}}</span>
      </p>
    </md-list-item>
  </md-nav-list>
</md-card>

