<h1 mat-dialog-title>
  {{ 'COMPONENTS__SKILLTREE_IMPORT_LEGACY__TITLE' | translate }}
</h1>
<div mat-dialog-content>
  {{ 'COMPONENTS__SKILLTREE_IMPORT_LEGACY__INSTRUCTIONS' | translate }}
  <mat-vertical-stepper [linear]="true" #stepper>
    <ng-template matStepperIcon="edit">
      <fa-icon icon="check" class="step-icon"></fa-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <fa-icon icon="check" class="step-icon"></fa-icon>
    </ng-template>
    <mat-step [label]="'COMPONENTS__SKILLTREE_IMPORT_LEGACY__STEP_FILE' | translate"
              [completed]="stepCompleted[0]">
      <div class="stepper-content">
        <button mat-raised-button color="primary" (click)="imgFileInput.click()">
          {{ 'COMPONENTS__SKILLTREE_IMPORT_LEGACY__SELECT' | translate}}
        </button>
        <input hidden type="file" #imgFileInput (change)="onSelectFile($event)" accept=".st"/>
      </div>
      <mat-divider></mat-divider>
      <div>
        <button mat-button matStepperNext [disabled]="!stepCompleted[0]">
          {{ 'COMPONENTS__SKILLTREE_IMPORT_LEGACY__NEXT' | translate }}
        </button>
      </div>
    </mat-step>
    <mat-step [label]="'COMPONENTS__SKILLTREE_IMPORT_LEGACY__STEP_SKILLTREE' | translate"
              [completed]="stepCompleted[1]">
      <div class="stepper-content">
        <h1 mat-dialog-title>
          {{ 'COMPONENTS__SKILLTREE_IMPORT_LEGACY__SELECT_SKILLTREES' | translate }}
        </h1>
        <mat-selection-list #selectedSkilltreeNames>
          <mat-list-option *ngFor="let name of newSkilltreeNames" [value]="name">
            {{name}}
          </mat-list-option>
        </mat-selection-list>
        <button mat-raised-button color="primary" (click)="selectedSkilltreeNames.selectAll()">
          {{ 'COMPONENTS__SKILLTREE_IMPORT_LEGACY__SELECT_ALL' | translate }}
        </button>
      </div>
      <mat-divider></mat-divider>
      <div>
        <button mat-button matStepperPrevious>
          {{ 'COMPONENTS__SKILLTREE_IMPORT_LEGACY__BACK' | translate }}
        </button>
        <button mat-button matStepperNext [disabled]="!stepCompleted[1]">
          {{ 'COMPONENTS__SKILLTREE_IMPORT_LEGACY__NEXT' | translate }}
        </button>
      </div>
    </mat-step>
    <mat-step [label]="'COMPONENTS__SKILLTREE_IMPORT_LEGACY__STEP_MOB_TYPE' | translate"
              [completed]="stepCompleted[2]">
      <div class="stepper-content">
        <h1 mat-dialog-title>
          {{ 'COMPONENTS__SKILLTREE_IMPORT_LEGACY__SELECT_MOB_TYPES' | translate }}
        </h1>
        <div class="mob-type-select">
          <ul>
            <li *ngFor="let type of types">
              <a (click)="toggleMobType(type)">
                <img [ngClass]="{selected: type.selected}" [src]="'assets/img/mobheads/' +  type.name + '.png'"
                     [matTooltip]="('MOB_TYPE__' + (type.name | uppercase)) | translate">
              </a>
            </li>
          </ul>
        </div>
        <button mat-raised-button color="primary" (click)="selectAllMobTypes()">
          {{ 'COMPONENTS__SKILLTREE_IMPORT_LEGACY__SELECT_ALL' | translate }}
        </button>
        <button mat-raised-button color="primary" (click)="selectNoneMobTypes()">
          {{ 'COMPONENTS__SKILLTREE_IMPORT_LEGACY__SELECT_NONE' | translate }}
        </button>
      </div>
      <mat-divider></mat-divider>
      <div>
        <button mat-button matStepperPrevious>
          {{ 'COMPONENTS__SKILLTREE_IMPORT_LEGACY__BACK' | translate }}
        </button>
        <button mat-button matStepperNext [disabled]="!stepCompleted[2]" (click)="done()">
          {{ 'COMPONENTS__SKILLTREE_IMPORT_LEGACY__IMPORT' | translate }}
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
