.mat-divider {
  position: unset !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.step-icon {
  font-size: 13px;
  color: white;
}

.stepper-content {
}

.mob-type-select {
  max-height: 200px;
  overflow-y: scroll;

  ul {
    list-style: none;
    padding: 0;
    margin: 10px;

    li {
      display: inline;
    }
  }

  a {
    background-color: transparent;

    &:focus, &:active {
      box-shadow: none;
      outline: none;
    }
  }

  img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    max-height: 32px;
    cursor: pointer;

    &.selected {
      cursor: default;
      opacity: 1;
      filter: alpha(opacity=100);
      outline: 3px dashed #00C853;
      outline-offset: 0;
    }
  }
}
