<mat-toolbar>Used Libraries</mat-toolbar>
<mat-list role="list">
  <mat-list-item>
    <h4 mat-line class="bold">Angular</h4>
    <p mat-line><a href="https://angular.io">https://angular.io</a> (MIT)</p>
  </mat-list-item>
  <mat-list-item>
    <h4 mat-line class="bold">Popover Component for Angular</h4>
    <p mat-line><a href="https://github.com/ncstate-sat/popover">https://github.com/ncstate-sat/popover</a> (MIT)</p>
  </mat-list-item>
  <mat-list-item>
    <h4 mat-line class="bold">ngrx</h4>
    <p mat-line><a href="https://github.com/ngrx/platform">https://github.com/ngrx/platform</a> (MIT)</p>
  </mat-list-item>
  <mat-list-item>
    <h4 mat-line class="bold">ngx-contextmenu</h4>
    <p mat-line><a
      href="https://github.com/isaacplmann/ngx-contextmenu">https://github.com/isaacplmann/ngx-contextmenu</a> (MIT)</p>
  </mat-list-item>
  <mat-list-item>
    <h4 mat-line class="bold">Material design icons</h4>
    <p mat-line><a href="https://material.io/icons/">https://material.io/icons/</a> (Apache License Version 2.0)</p>
  </mat-list-item>
</mat-list>
