<mat-toolbar class="spacer-t-1em spacer-b-1em">
  <button mat-raised-button (click)="addUpgrade()">Add Upgrade</button>
</mat-toolbar>

<sat-popover #damagePopover horizontalAlign="after" verticalAlign="below"
>
  <mat-card>
    <mat-card-content>
      <p>The amount of damage the pet will cause with melee attacks.<br>
        Format: [+-=][number]<br>
        Examples:<br>
        +2.5<br>
        -3<br>
        =6.0
      </p>
    </mat-card-content>
  </mat-card>
</sat-popover>

<div *ngIf="skill">
  <mat-expansion-panel *ngFor="let upgrade of skill.upgrades">
    <mat-expansion-panel-header>{{LevelRule.toString(upgrade.rule)}}</mat-expansion-panel-header>
    <mat-input-container>
      <input matInput placeholder="Damage" [(ngModel)]="upgrade.damage" type="text" pattern="[+-=][0-9]+(\.[0-9]+)?">
      <span matSuffix>damage</span>
    </mat-input-container>
    <button mat-icon-button [satPopoverAnchorFor]="damagePopover">
      <mat-icon>info_outline</mat-icon>
    </button>
  </mat-expansion-panel>
</div>
