<div *ngIf="selectedSkilltree$ | async as skilltree">
  <sat-popover #damagePopover xAlign="after" yAlign="center">
    <mat-card>
      <mat-card-content>
        <p>The amount of damage the pet will cause with melee attacks.<br>
          Format: [+-=][number]<br>
          Examples:<br>
          +2.5<br>
          -3<br>
          =6.0
        </p>
      </mat-card-content>
    </mat-card>
  </sat-popover>

  <mat-expansion-panel *ngFor="let upgrade of skilltree.skills.Damage; trackBy: trackById; let i = index"
                       [expanded]="selectedUpgrade == i" (opened)="selectedUpgrade = i">
    <mat-expansion-panel-header>
      {{ LevelRule.toKey(upgrade.rule) | translate:LevelRule.toData(upgrade.rule) }}
    </mat-expansion-panel-header>
    <div fxLayout="column">
      <mat-card>
        <mat-input-container>
          <input matInput placeholder="Damage" [value]="upgrade.damage" type="text" pattern="[+-=][0-9]+(\.[0-9]+)?"
                 (blur)="update(skilltree, upgrade, 'damage', $event.srcElement.value)">
          <span matSuffix>damage</span>
        </mat-input-container>
        <button mat-icon-button [stcDynamicPopoverAnchorFor]="damagePopover">
          <mat-icon svgIcon="info_outline">info_outline</mat-icon>
        </button>
      </mat-card>
    </div>
    <mat-action-row>
      <button mat-raised-button color="primary" (click)="deleteRule(skilltree, upgrade)">
        <mat-icon svgIcon="delete">delete</mat-icon>
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
