<md-toolbar class="spacer-t-1em spacer-b-1em">
  <button md-raised-button (click)="addUpgrade()">Add Upgrade</button>
</md-toolbar>

<div *ngIf="skill">
  <md-expansion-panel *ngFor="let upgrade of skill.upgrades">
    <md-expansion-panel-header>{{LevelRule.toString(upgrade.rule)}}</md-expansion-panel-header>
    <md-input-container>
      <input mdInput placeholder="Speed" [(ngModel)]="upgrade.speed" type="text" pattern="[+-=][0-9]+(\.[0-9]+)?">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Jump Height" [(ngModel)]="upgrade.jumpHeight" type="text"
             pattern="[+-=][0-9]+(\.[0-9]+)?">
      <span mdSuffix>Blocks</span>
    </md-input-container>
    <div>
      <md-button-toggle-group [value]="upgrade.canFly">
        <md-button-toggle [value]="true" mdTooltip="Activate">
          <md-icon>check_box</md-icon>
        </md-button-toggle>
        <md-button-toggle [value]="null" mdTooltip="Don't change">
          <md-icon>indeterminate_check_box</md-icon>
        </md-button-toggle>
        <md-button-toggle [value]="false" mdTooltip="Deactivate">
          <md-icon>check_box_outline_blank</md-icon>
        </md-button-toggle>
      </md-button-toggle-group>
      <span>Can Fly?</span>
    </div>
  </md-expansion-panel>
</div>
