<div *ngIf="selectedSkilltree$ | async as skilltree">
  <sat-popover #chancePopover xAlign="after" yAlign="center" hasBackdrop backdropClass="cdk-overlay-dark-backdrop">
    <mat-card>
      <mat-card-content>
        <mat-card-content [innerHTML]="'COMPONENTS__SKILLS__THORNS__CHANCE_POPUP' | translate"></mat-card-content>
      </mat-card-content>
    </mat-card>
  </sat-popover>
  <sat-popover #reflectionPopover xAlign="after" yAlign="center" hasBackdrop backdropClass="cdk-overlay-dark-backdrop">
    <mat-card>
      <mat-card-content>
        <mat-card-content [innerHTML]="'COMPONENTS__SKILLS__THORNS__REFLECTION_POPUP' | translate"></mat-card-content>
      </mat-card-content>
    </mat-card>
  </sat-popover>

  <mat-expansion-panel *ngFor="let upgrade of skilltree.skills.Thorns; trackBy: trackById; let i = index"
                       [expanded]="selectedUpgrade == i" (opened)="selectedUpgrade = i">
    <mat-expansion-panel-header>
      {{ LevelRule.toKey(upgrade.rule) | translate:LevelRule.toData(upgrade.rule) }}
    </mat-expansion-panel-header>
    <div fxLayout="column">
      <mat-card>
        <mat-form-field>
          <span matPrefix>{{ 'COMPONENTS__SKILLS__THORNS__CHANCE_PREFIX' | translate }}</span>
          <input matInput [placeholder]="'COMPONENTS__SKILLS__THORNS__CHANCE' | translate" type="text"
                 pattern="[+-](?:[0-9]|[1-9][0-9]|100)"
                 [name]="'chance_' + i" #modelChance="ngModel"
                 [ngModel]="upgrade.chance ? upgrade.chance : '+0'"
                 (blur)="update(skilltree, upgrade, 'chance', $event.srcElement.value, modelChance)">
          <span matSuffix>{{ 'COMPONENTS__SKILLS__THORNS__CHANCE_SUFFIX' | translate }}</span>
          <mat-error *ngIf="modelChance.errors?.pattern">
            {{ 'COMPONENTS__SKILLS__ERROR_FORMAT' | translate:{format: '[+-][0-100]'} }}
          </mat-error>
        </mat-form-field>
        <button mat-icon-button [stcDynamicPopoverAnchorFor]="chancePopover">
          <mat-icon svgIcon="info_outline">info_outline</mat-icon>
        </button>
      </mat-card>
      <mat-card>
        <mat-form-field>
          <span matPrefix>{{ 'COMPONENTS__SKILLS__THORNS__REFLECTION_PREFIX' | translate }}</span>
          <input matInput [placeholder]="'COMPONENTS__SKILLS__THORNS__REFLECTION' | translate" type="text"
                 pattern="[+-][0-9]+(\.[0-9]+)?"
                 [name]="'reflection_' + i" #modelReflection="ngModel"
                 [ngModel]="upgrade.reflection ? upgrade.reflection : '+0'"
                 (blur)="update(skilltree, upgrade, 'reflection', $event.srcElement.value, modelReflection)">
          <span matSuffix>{{ 'COMPONENTS__SKILLS__THORNS__REFLECTION_SUFFIX' | translate }}</span>
          <mat-error *ngIf="modelReflection.errors?.pattern">
            {{ 'COMPONENTS__SKILLS__ERROR_FORMAT' | translate:{format: '[+-][double]'} }}
          </mat-error>
        </mat-form-field>
        <button mat-icon-button [stcDynamicPopoverAnchorFor]="reflectionPopover">
          <mat-icon svgIcon="info_outline">info_outline</mat-icon>
        </button>
      </mat-card>
    </div>
    <mat-action-row>
      <button mat-button color="primary" (click)="editRule(skilltree, upgrade)">
        {{ 'COMPONENTS__SKILLS__EDIT' | translate }}
      </button>
      <button mat-button color="warn" (click)="deleteRule(skilltree, upgrade)">
        <mat-icon svgIcon="delete">delete</mat-icon>
        {{ 'COMPONENTS__SKILLS__DELETE' | translate }}
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
