<md-toolbar class="spacer-t-1em spacer-b-1em">
  <button md-raised-button (click)="addUpgrade()">Add Upgrade</button>
</md-toolbar>

<div *ngIf="skill">
  <md-expansion-panel *ngFor="let upgrade of skill.upgrades">
    <md-expansion-panel-header>{{LevelRule.toString(upgrade.rule)}}</md-expansion-panel-header>
    <md-input-container>
      <input mdInput placeholder="Chance" [(ngModel)]="upgrade.chance" type="number">
      <span mdSuffix>%</span>
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Damage" [(ngModel)]="upgrade.damage" type="number">
      <span mdSuffix>damage</span>
    </md-input-container>
  </md-expansion-panel>
</div>
