<h1 mat-dialog-title>Add Upgrade</h1>
<div mat-dialog-content fxLayout="column">
  <mat-radio-group [(ngModel)]="type">
    <mat-radio-button value="1">Fixed</mat-radio-button>
    <mat-radio-button value="2">Dynamic</mat-radio-button>
  </mat-radio-group>

  <mat-input-container *ngIf="type == 1">
    <input matInput placeholder="Level(s)" [(ngModel)]="level">
  </mat-input-container>

  <mat-input-container *ngIf="type == 2">
    <span matPrefix>Every&nbsp;</span>
    <input matInput placeholder="(Required)" [(ngModel)]="every" type="number">
    <span matSuffix="">&nbsp;Level</span>
  </mat-input-container>

  <mat-input-container *ngIf="type == 2">
    <span matPrefix>Start from level&nbsp;</span>
    <input matInput placeholder="(Optional)" [(ngModel)]="minimum" type="number">
  </mat-input-container>

  <mat-input-container *ngIf="type == 2">
    <span matPrefix>Until level&nbsp;</span>
    <input matInput placeholder="(Optional)" [(ngModel)]="limit" type="number">
  </mat-input-container>

</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="done()">Add</button>
</div>
