<md-toolbar class="spacer-t-1em spacer-b-1em">
  <button md-raised-button (click)="addUpgrade()">Add Upgrade</button>
</md-toolbar>

<div *ngIf="skill">
  <md-expansion-panel *ngFor="let upgrade of skill.upgrades">
    <md-expansion-panel-header>{{LevelRule.toString(upgrade.rule)}}</md-expansion-panel-header>

    <div>
      <md-button-toggle-group [value]="upgrade.friend">
        <md-button-toggle [value]="true" mdTooltip="Activate">
          <md-icon>check_box</md-icon>
        </md-button-toggle>
        <md-button-toggle [value]="null" mdTooltip="Don't change">
          <md-icon>indeterminate_check_box</md-icon>
        </md-button-toggle>
        <md-button-toggle [value]="false" mdTooltip="Deactivate">
          <md-icon>check_box_outline_blank</md-icon>
        </md-button-toggle>
      </md-button-toggle-group>
      <span>Friendly Mode</span>
    </div>
    <div>
      <md-button-toggle-group [value]="upgrade.aggro">
        <md-button-toggle [value]="true" mdTooltip="Activate">
          <md-icon>check_box</md-icon>
        </md-button-toggle>
        <md-button-toggle [value]="null" mdTooltip="Don't change">
          <md-icon>indeterminate_check_box</md-icon>
        </md-button-toggle>
        <md-button-toggle [value]="false" mdTooltip="Deactivate">
          <md-icon>check_box_outline_blank</md-icon>
        </md-button-toggle>
      </md-button-toggle-group>
      <span>Aggressive Mode</span>
    </div>
    <div>
      <md-button-toggle-group [value]="upgrade.farm">
        <md-button-toggle [value]="true" mdTooltip="Activate">
          <md-icon>check_box</md-icon>
        </md-button-toggle>
        <md-button-toggle [value]="null" mdTooltip="Don't change">
          <md-icon>indeterminate_check_box</md-icon>
        </md-button-toggle>
        <md-button-toggle [value]="false" mdTooltip="Deactivate">
          <md-icon>check_box_outline_blank</md-icon>
        </md-button-toggle>
      </md-button-toggle-group>
      <span>Farm Mode</span>
    </div>
    <div>
      <md-button-toggle-group [value]="upgrade.raid">
        <md-button-toggle [value]="true" mdTooltip="Activate">
          <md-icon>check_box</md-icon>
        </md-button-toggle>
        <md-button-toggle [value]="null" mdTooltip="Don't change">
          <md-icon>indeterminate_check_box</md-icon>
        </md-button-toggle>
        <md-button-toggle [value]="false" mdTooltip="Deactivate">
          <md-icon>check_box_outline_blank</md-icon>
        </md-button-toggle>
      </md-button-toggle-group>
      <span>Raid Mode</span>
    </div>
    <div>
      <md-button-toggle-group [value]="upgrade.duel">
        <md-button-toggle [value]="true" mdTooltip="Activate">
          <md-icon>check_box</md-icon>
        </md-button-toggle>
        <md-button-toggle [value]="null" mdTooltip="Don't change">
          <md-icon>indeterminate_check_box</md-icon>
        </md-button-toggle>
        <md-button-toggle [value]="false" mdTooltip="Deactivate">
          <md-icon>check_box_outline_blank</md-icon>
        </md-button-toggle>
      </md-button-toggle-group>
      <span>Duel Mode</span>
    </div>
  </md-expansion-panel>
</div>
