<div *ngIf="selectedSkilltree$ | async as skilltree">
  <mat-toolbar class="spacer-t-1em spacer-b-1em">
    <button mat-raised-button (click)="addUpgrade(skilltree)">Add Upgrade</button>
  </mat-toolbar>

  <mat-expansion-panel *ngFor="let upgrade of skilltree.skills.Behavior; trackBy: id">
    <mat-expansion-panel-header>{{LevelRule.toString(upgrade.rule)}}</mat-expansion-panel-header>

    <div>
      <mat-button-toggle-group [value]="null || upgrade.friend"
                               (change)="update(skilltree, upgrade, 'friend', $event.value)">
        <mat-button-toggle [value]="true" matTooltip="Activate">
          <mat-icon svgIcon="check_box">check_box</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [value]="null" matTooltip="Don't change">
          <mat-icon svgIcon="indeterminate_check_box">indeterminate_check_box</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [value]="false" matTooltip="Deactivate">
          <mat-icon svgIcon="check_box_outline_blank">check_box_outline_blank</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <span>Friendly Mode</span>
    </div>
    <div>
      <mat-button-toggle-group [value]="null || upgrade.aggro"
                               (change)="update(skilltree, upgrade, 'aggro', $event.value)">
        <mat-button-toggle [value]="true" matTooltip="Activate">
          <mat-icon svgIcon="check_box">check_box</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [value]="null" matTooltip="Don't change">
          <mat-icon svgIcon="indeterminate_check_box">indeterminate_check_box</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [value]="false" matTooltip="Deactivate">
          <mat-icon svgIcon="check_box_outline_blank">check_box_outline_blank</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <span>Aggressive Mode</span>
    </div>
    <div>
      <mat-button-toggle-group [value]="null || upgrade.farm"
                               (change)="update(skilltree, upgrade, 'farm', $event.value)">
        <mat-button-toggle [value]="true" matTooltip="Activate">
          <mat-icon svgIcon="check_box">check_box</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [value]="null" matTooltip="Don't change">
          <mat-icon svgIcon="indeterminate_check_box">indeterminate_check_box</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [value]="false" matTooltip="Deactivate">
          <mat-icon svgIcon="check_box_outline_blank">check_box_outline_blank</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <span>Farm Mode</span>
    </div>
    <div>
      <mat-button-toggle-group [value]="null || upgrade.raid"
                               (change)="update(skilltree, upgrade, 'raid', $event.value)">
        <mat-button-toggle [value]="true" matTooltip="Activate">
          <mat-icon svgIcon="check_box">check_box</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [value]="null" matTooltip="Don't change">
          <mat-icon svgIcon="indeterminate_check_box">indeterminate_check_box</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [value]="false" matTooltip="Deactivate">
          <mat-icon svgIcon="check_box_outline_blank">check_box_outline_blank</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <span>Raid Mode</span>
    </div>
    <div>
      <mat-button-toggle-group [value]="null || upgrade.duel"
                               (change)="update(skilltree, upgrade, 'duel', $event.value)">
        <mat-button-toggle [value]="true" matTooltip="Activate">
          <mat-icon svgIcon="check_box">check_box</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [value]="null" matTooltip="Don't change">
          <mat-icon svgIcon="indeterminate_check_box">indeterminate_check_box</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [value]="false" matTooltip="Deactivate">
          <mat-icon svgIcon="check_box_outline_blank">check_box_outline_blank</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <span>Duel Mode</span>
    </div>
  </mat-expansion-panel>
</div>
