<div *ngIf="selectedSkilltree$ | async as skilltree">
  <mat-expansion-panel *ngFor="let upgrade of skilltree.skills.Behavior; trackBy: trackById; let i = index"
                       [expanded]="selectedUpgrade == i" (opened)="selectedUpgrade = i">
    <mat-expansion-panel-header>
      {{ LevelRule.toKey(upgrade.rule) | translate:LevelRule.toData(upgrade.rule) }}
    </mat-expansion-panel-header>
    <div fxLayout="column">
      <mat-card>
        <mat-checkbox [checked]="upgrade.friend == true"
                      [indeterminate]="upgrade.friend == null"
                      (click)="toggle(skilltree, upgrade, 'friend')"
                      [matTooltip]="(upgrade.friend == true ? 'COMPONENTS__SKILLS__ACTIVATE' : (upgrade.friend == false ? 'COMPONENTS__SKILLS__DEACTIVATE' : 'COMPONENTS__SKILLS__DONT_CHANGE')) | translate"
                      matTooltipPosition="right">
          {{ 'COMPONENTS__SKILLS__BEHAVIOR__FRIENDLY' | translate }}
        </mat-checkbox>
      </mat-card>
      <mat-card>
        <mat-checkbox [checked]="upgrade.aggro == true"
                      [indeterminate]="upgrade.aggro == null"
                      (click)="toggle(skilltree, upgrade, 'aggro')"
                      [matTooltip]="(upgrade.aggro == true ? 'COMPONENTS__SKILLS__ACTIVATE' : (upgrade.aggro == false ? 'COMPONENTS__SKILLS__DEACTIVATE' : 'COMPONENTS__SKILLS__DONT_CHANGE')) | translate"
                      matTooltipPosition="right">
          {{ 'COMPONENTS__SKILLS__BEHAVIOR__AGGRESSIVE' | translate }}
        </mat-checkbox>
      </mat-card>
      <mat-card>
        <mat-checkbox [checked]="upgrade.farm == true"
                      [indeterminate]="upgrade.farm == null"
                      (click)="toggle(skilltree, upgrade, 'farm')"
                      [matTooltip]="(upgrade.farm == true ? 'COMPONENTS__SKILLS__ACTIVATE' : (upgrade.farm == false ? 'COMPONENTS__SKILLS__DEACTIVATE' : 'COMPONENTS__SKILLS__DONT_CHANGE')) | translate"
                      matTooltipPosition="right">
          {{ 'COMPONENTS__SKILLS__BEHAVIOR__FARM' | translate }}
        </mat-checkbox>
      </mat-card>
      <mat-card>
        <mat-checkbox [checked]="upgrade.raid == true"
                      [indeterminate]="upgrade.raid == null"
                      (click)="toggle(skilltree, upgrade, 'raid')"
                      [matTooltip]="(upgrade.raid == true ? 'COMPONENTS__SKILLS__ACTIVATE' : (upgrade.raid == false ? 'COMPONENTS__SKILLS__DEACTIVATE' : 'COMPONENTS__SKILLS__DONT_CHANGE')) | translate"
                      matTooltipPosition="right">
          {{ 'COMPONENTS__SKILLS__BEHAVIOR__RAID' | translate }}
        </mat-checkbox>
      </mat-card>
      <mat-card>
        <mat-checkbox [checked]="upgrade.duel == true"
                      [indeterminate]="upgrade.duel == null"
                      (click)="toggle(skilltree, upgrade, 'duel')"
                      [matTooltip]="(upgrade.duel == true ? 'COMPONENTS__SKILLS__ACTIVATE' : (upgrade.duel == false ? 'COMPONENTS__SKILLS__DEACTIVATE' : 'COMPONENTS__SKILLS__DONT_CHANGE')) | translate"
                      matTooltipPosition="right">
          {{ 'COMPONENTS__SKILLS__BEHAVIOR__DUEL' | translate }}
        </mat-checkbox>
      </mat-card>
    </div>
    <mat-action-row>
      <button mat-raised-button color="primary" (click)="deleteRule(skilltree, upgrade)">
        <mat-icon svgIcon="delete">delete</mat-icon>
        {{ 'COMPONENTS__SKILLS__DELETE' | translate }}
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
