<div *ngIf="selectedSkilltree$ | async as skilltree">
  <sat-popover #damagePopover xAlign="after" yAlign="center" hasBackdrop backdropClass="cdk-overlay-dark-backdrop">
    <mat-card>
      <mat-card-content>
        <mat-card-content [innerHTML]="'COMPONENTS__SKILLS__RANGED__DAMAGE_POPUP' | translate"></mat-card-content>
      </mat-card-content>
    </mat-card>
  </sat-popover>
  <sat-popover #rangePopover xAlign="after" yAlign="center" hasBackdrop backdropClass="cdk-overlay-dark-backdrop">
    <mat-card>
      <mat-card-content>
        <mat-card-content [innerHTML]="'COMPONENTS__SKILLS__RANGED__RANGE_POPUP' | translate"></mat-card-content>
      </mat-card-content>
    </mat-card>
  </sat-popover>
  <sat-popover #ratePopover xAlign="after" yAlign="center" hasBackdrop backdropClass="cdk-overlay-dark-backdrop">
    <mat-card>
      <mat-card-content>
        <mat-card-content [innerHTML]="'COMPONENTS__SKILLS__RANGED__RATE_POPUP' | translate"></mat-card-content>
      </mat-card-content>
    </mat-card>
  </sat-popover>

  <mat-expansion-panel *ngFor="let upgrade of skilltree.skills.Ranged; trackBy: trackById; let i = index"
                       [expanded]="selectedUpgrade == i" (opened)="selectedUpgrade = i">
    <mat-expansion-panel-header>
      {{ upgrade.rule | levelRuleKey | translate:(upgrade.rule | levelRuleToData) }}
    </mat-expansion-panel-header>
    <div fxLayout="column">
      <mat-card>
        <mat-form-field>
          <span matPrefix>{{ 'COMPONENTS__SKILLS__RANGED__DAMAGE_PREFIX' | translate }}</span>
          <input matInput [placeholder]="'COMPONENTS__SKILLS__RANGED__DAMAGE' | translate"
                 pattern="[+-][0-9]+(\.[0-9]+)?"
                 [name]="'damage_' + i" #modelDamage="ngModel"
                 [ngModel]="upgrade.damage ? upgrade.damage : '+0'"
                 (blur)="update(skilltree, upgrade, 'damage', $event.srcElement.value, modelDamage)">
          <span matSuffix>{{ 'COMPONENTS__SKILLS__RANGED__DAMAGE_SUFFIX' | translate }}</span>
          <mat-error *ngIf="modelDamage.errors?.pattern">
            {{ 'COMPONENTS__SKILLS__ERROR_FORMAT' | translate:{ format: '[+-][double]' } }}
          </mat-error>
        </mat-form-field>
        <button mat-icon-button [stcDynamicPopoverAnchorFor]="damagePopover">
          <fa-icon icon="info-circle"></fa-icon>
        </button>
      </mat-card>
      <mat-card>
        <mat-form-field>
          <span matPrefix>{{ 'COMPONENTS__SKILLS__RANGED__RATE_PREFIX' | translate }}</span>
          <input matInput [placeholder]="'COMPONENTS__SKILLS__RANGED__RATE' | translate" type="text"
                 pattern="[+-][0-9]+"
                 [name]="'rate_' + i" #modelRate="ngModel"
                 [ngModel]="upgrade.rate ? upgrade.rate : '+0'"
                 (blur)="update(skilltree, upgrade, 'rate', $event.srcElement.value, modelRate)">
          <span matSuffix>{{ 'COMPONENTS__SKILLS__RANGED__RATE_SUFFIX' | translate }}</span>
          <mat-error *ngIf="modelRate.errors?.pattern">
            {{ 'COMPONENTS__SKILLS__ERROR_FORMAT' | translate:{ format: '[+-][integer]' } }}
          </mat-error>
        </mat-form-field>
        <button mat-icon-button [stcDynamicPopoverAnchorFor]="ratePopover">
          <fa-icon icon="info-circle"></fa-icon>
        </button>
      </mat-card>
      <mat-card>
        <mat-form-field>
          <mat-select [placeholder]="'COMPONENTS__SKILLS__RANGED__PROJECTILE' | translate"
                      [value]="upgrade.projectile"
                      (selectionChange)="update(skilltree, upgrade, 'projectile', $event.value, {})">
            <mat-option [value]="null">
              {{ 'COMPONENTS__SKILLS__DONT_CHANGE' | translate }}
            </mat-option>
            <mat-divider></mat-divider>
            <mat-option value="Arrow">
              {{ 'COMPONENTS__SKILLS__RANGED__PROJECTILE__ARROW' | translate }}
            </mat-option>
            <mat-option value="Snowball">
              {{ 'COMPONENTS__SKILLS__RANGED__PROJECTILE__SNOWBALL' | translate }}
            </mat-option>
            <mat-option value="SmallFireball">
              {{ 'COMPONENTS__SKILLS__RANGED__PROJECTILE__FIREBALL' | translate }}
            </mat-option>
            <mat-option value="LargeFireball">
              {{ 'COMPONENTS__SKILLS__RANGED__PROJECTILE__LARGE_FIREBALL' | translate }}
            </mat-option>
            <mat-option value="WitherSkull">
              {{ 'COMPONENTS__SKILLS__RANGED__PROJECTILE__WITHER_SKULL' | translate }}
            </mat-option>
            <mat-option value="Egg">
              {{ 'COMPONENTS__SKILLS__RANGED__PROJECTILE__EGG' | translate }}
            </mat-option>
            <mat-option value="EnderPearl">
              {{ 'COMPONENTS__SKILLS__RANGED__PROJECTILE__ENDER_PEARL' | translate }}
            </mat-option>
            <mat-option value="DragonFireball">
              {{ 'COMPONENTS__SKILLS__RANGED__PROJECTILE__DRAGON_FIREBALL' | translate }} <span style="color: gray">(1.9+)</span>
            </mat-option>
            <mat-option value="LlamaSpit">
              {{ 'COMPONENTS__SKILLS__RANGED__PROJECTILE__LLAMA_SPIT' | translate }} <span
              style="color: gray">(1.11+)</span>
            </mat-option>
            <mat-option value="Trident">
              {{ 'COMPONENTS__SKILLS__RANGED__PROJECTILE__TRIDENT' | translate }} <span
              style="color: gray">(1.13+)</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </div>
    <mat-action-row>
      <button mat-button color="primary" (click)="editRule(skilltree, upgrade)">
        {{ 'COMPONENTS__SKILLS__EDIT' | translate }}
      </button>
      <button mat-button color="warn" (click)="deleteRule(skilltree, upgrade)">
        <fa-icon icon="trash"></fa-icon>
        {{ 'COMPONENTS__SKILLS__DELETE' | translate }}
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
