<div *ngIf="selectedSkilltree$ | async as skilltree">
  <mat-toolbar class="spacer-t-1em spacer-b-1em">
    <button mat-raised-button (click)="addUpgrade(skilltree)">Add Upgrade</button>
  </mat-toolbar>

  <sat-popover #timerPopover xAlign="after" yAlign="center" hasBackdrop>
    <mat-card>
      <mat-card-content>
        <p>The time between healing.<br>
          Format: [+-=][number]<br>
          Examples:<br>
          +2<br>
          -3<br>
          =6
        </p>
      </mat-card-content>
    </mat-card>
  </sat-popover>
  <sat-popover #healthPopover xAlign="after" yAlign="center" hasBackdrop>
    <mat-card>
      <mat-card-content>
        <p>The amount of health the pet will heal.<br>
          Format: [+-=][number]<br>
          Examples:<br>
          +2<br>
          -3<br>
          =6
        </p>
      </mat-card-content>
    </mat-card>
  </sat-popover>

  <mat-expansion-panel *ngFor="let upgrade of skilltree.skills.Heal; trackBy: id; let i = index"
                       [expanded]="selectedUpgrade == i" (opened)="selectedUpgrade = i">
    <mat-expansion-panel-header>{{LevelRule.toString(upgrade.rule)}}</mat-expansion-panel-header>
    <mat-card>
      <mat-input-container>
        <input matInput placeholder="Timer" [value]="upgrade.timer ? upgrade.timer : 0" type="text"
               pattern="[+-=][0-9]+"
               (blur)="update(skilltree, upgrade, 'timer', $event.srcElement.value)">
        <span matSuffix>sec</span>
      </mat-input-container>
      <button mat-icon-button [satPopoverAnchorFor]="timerPopover" (click)="timerPopover.toggle()">
        <mat-icon svgIcon="info_outline">info_outline</mat-icon>
      </button>
    </mat-card>
    <mat-card>
      <mat-input-container>
        <input matInput placeholder="Added Health" [value]="upgrade.health ? upgrade.health : 0" type="text"
               pattern="[+-=][0-9]+(\.[0-9]+)?"
               (blur)="update(skilltree, upgrade, 'health', $event.srcElement.value)">
        <span matSuffix>health</span>
      </mat-input-container>
      <button mat-icon-button [satPopoverAnchorFor]="healthPopover" (click)="healthPopover.toggle()">
        <mat-icon svgIcon="info_outline">info_outline</mat-icon>
      </button>
    </mat-card>
  </mat-expansion-panel>
</div>
