<div *ngIf="selectedSkilltree$ | async as skilltree">
  <sat-popover #timerPopover xAlign="after" yAlign="center" hasBackdrop backdropClass="cdk-overlay-dark-backdrop">
    <mat-card>
      <mat-card-content>
        <mat-card-content [innerHTML]="'COMPONENTS__SKILLS__HEAL__TIMER_SECONDS_POPUP' | translate"></mat-card-content>
      </mat-card-content>
    </mat-card>
  </sat-popover>
  <sat-popover #healthPopover xAlign="after" yAlign="center" hasBackdrop backdropClass="cdk-overlay-dark-backdrop">
    <mat-card>
      <mat-card-content>
        <mat-card-content [innerHTML]="'COMPONENTS__SKILLS__HEAL__HEALTH_POPUP' | translate"></mat-card-content>
      </mat-card-content>
    </mat-card>
  </sat-popover>

  <mat-expansion-panel *ngFor="let upgrade of skilltree.skills.Heal; trackBy: trackById; let i = index"
                       [expanded]="selectedUpgrade == i" (opened)="selectedUpgrade = i">
    <mat-expansion-panel-header>
      {{ LevelRule.toKey(upgrade.rule) | translate:LevelRule.toData(upgrade.rule) }}
    </mat-expansion-panel-header>
    <div fxLayout="column">
      <mat-card>
        <mat-form-field>
          <span matPrefix>{{ 'COMPONENTS__SKILLS__HEAL__TIMER_SECONDS_PREFIX' | translate }}</span>
          <input matInput [placeholder]="'COMPONENTS__SKILLS__HEAL__TIMER' | translate" type="text"
                 pattern="[+-][0-9]+"
                 [name]="'timer_' + i" #modelTimer="ngModel"
                 [ngModel]="upgrade.timer ? upgrade.timer : '+0'"
                 (blur)="update(skilltree, upgrade, 'timer', $event.srcElement.value, modelTimer)">
          <span matSuffix>{{ 'COMPONENTS__SKILLS__HEAL__TIMER_SECONDS_SUFFIX' | translate }}</span>
          <mat-error *ngIf="modelTimer.errors?.pattern">
            {{ 'COMPONENTS__SKILLS__ERROR_FORMAT' | translate:{format: '[+-][integer]'} }}
          </mat-error>
        </mat-form-field>
        <button mat-icon-button [stcDynamicPopoverAnchorFor]="timerPopover">
          <mat-icon svgIcon="info_outline">info_outline</mat-icon>
        </button>
      </mat-card>
      <mat-card>
        <mat-form-field>
          <span matPrefix>{{ 'COMPONENTS__SKILLS__HEAL__HEALTH_PREFIX' | translate }}</span>
          <input matInput [placeholder]="'COMPONENTS__SKILLS__HEAL__HEALTH' | translate" type="text"
                 pattern="[+-][0-9]+(\.[0-9]+)?"
                 [name]="'health_' + i" #modelHealth="ngModel"
                 [ngModel]="upgrade.health ? upgrade.health : '+0'"
                 (blur)="update(skilltree, upgrade, 'health', $event.srcElement.value, modelHealth)">
          <span matSuffix>{{ 'COMPONENTS__SKILLS__HEAL__HEALTH_SUFFIX' | translate }}</span>
          <mat-error *ngIf="modelHealth.errors?.pattern">
            {{ 'COMPONENTS__SKILLS__ERROR_FORMAT' | translate:{format: '[+-][double]'} }}
          </mat-error>
        </mat-form-field>
        <button mat-icon-button [stcDynamicPopoverAnchorFor]="healthPopover">
          <mat-icon svgIcon="info_outline">info_outline</mat-icon>
        </button>
      </mat-card>
    </div>
    <mat-action-row>
      <button mat-button color="primary" (click)="editRule(skilltree, upgrade)">
        {{ 'COMPONENTS__SKILLS__EDIT' | translate }}
      </button>
      <button mat-button color="warn" (click)="deleteRule(skilltree, upgrade)">
        <mat-icon svgIcon="delete">delete</mat-icon>
        {{ 'COMPONENTS__SKILLS__DELETE' | translate }}
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
