<md-sidenav-container class="example-container" (backdropClick)="closeSidenav()">
  <md-sidenav #sidenav class="example-sidenav"
              fxLayout="column"
              fxLayoutAlign="start center"
              [opened]="showSidenav$ | async"
              [disableClose]="true">
    <button md-icon-button>
      <md-icon>save</md-icon>
    </button>
    <button md-icon-button>
      <md-icon>input</md-icon>
    </button>
    <button md-icon-button>
      <md-icon>cloud upload</md-icon>
    </button>
    <button md-icon-button>
      <md-icon>info_outline</md-icon>
    </button>
  </md-sidenav>
  <button md-button (click)="openSidenav()" *ngIf="(selectedSkilltree$ | async) == null">
    <md-icon>menu</md-icon>
  </button>
  <button md-button (click)="back()" *ngIf="selectedSkilltree$ | async">
    <md-icon>arrow_back</md-icon>
  </button>
  <md-card>
    <router-outlet></router-outlet>
  </md-card>
</md-sidenav-container>
