<md-tab-group (selectChange)="positionChange($event)" [selectedIndex]="position">
  <md-tab label="Skilltrees">
    <md-card>
      <app-skilltree-list></app-skilltree-list>
    </md-card>
  </md-tab>
  <md-tab label="Skilltree Properties" [disabled]="selectedSkilltree == null">
    <md-card>
      <app-skilltree-properties *ngIf="selectedSkilltree != null"></app-skilltree-properties>
    </md-card>
  </md-tab>
  <md-tab label="Skills" [disabled]="selectedSkilltree == null">
    <md-card>
      <app-skill-editor *ngIf="selectedSkilltree != null"></app-skill-editor>
    </md-card>
  </md-tab>
</md-tab-group>
