<mat-toolbar class="spacer-b-1em">
  <button mat-raised-button (click)="addSkilltree()">
    {{ 'COMPONENTS__SKILLTREE_LIST__ADD_SKILLTREES' | translate }}
  </button>
</mat-toolbar>

<context-menu #skilltreeMenu>
  <ng-template contextMenuItem (execute)="selectSkilltree($event.item)">
    {{ 'COMPONENTS__SKILLTREE_LIST__EDIT_PROPERTIES' | translate }}
  </ng-template>
  <ng-template contextMenuItem (execute)="editSkills($event.item)">
    {{ 'COMPONENTS__SKILLTREE_LIST__EDIT_UPGRADES' | translate }}
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem (execute)="copySkilltree($event.item)">
    {{ 'COMPONENTS__SKILLTREE_LIST__COPY_SKILLTREE' | translate }}
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem let-item (execute)="deleteSkilltree($event.item)">
    {{ 'COMPONENTS__SKILLTREE_LIST__DELETE_SKILLTREE' | translate:{name:item?.name} }}
  </ng-template>
</context-menu>

<mat-card class="no-padding">
  <mat-nav-list dense
                fxLayout="column"
                cdkDropList
                (cdkDropListDropped)="drag($event)"
                class="dndList">

    <mat-list-item *ngFor="let skilltree of skilltrees"
                   (click)="editSkills(skilltree)"
                   (contextmenu)="onContextMenu($event, skilltree, skilltreeMenu)"
                   [contextMenu]="skilltreeMenu"
                   [contextMenuSubject]="skilltree"
                   cdkDrag
                   [cdkDragData]="skilltree"
                   class="draggable-item">

      <mat-icon mat-list-icon cdkDragHandle class="handle" svgIcon="drag_handle">drag_handle</mat-icon>

      <span *cdkDragPreview></span>

      <h3 mat-line> {{skilltree.name}} </h3>
      <p mat-line>
        <span>{{skilltree.id}}</span>
      </p>
      <span style="flex: 1 1 auto;"></span>
      <button mat-icon-button (click)="selectSkilltree(skilltree)">
        <mat-icon svgIcon="create">create</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteSkilltree(skilltree)">
        <mat-icon svgIcon="delete">delete</mat-icon>
      </button>
      <button mat-icon-button (click)="onContextMenu($event, skilltree, skilltreeMenu)">
        <mat-icon svgIcon="arrow_drop_down">arrow_drop_down</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</mat-card>
