<md-toolbar class="spacer-b-1em">
  <button md-raised-button (click)="addSkilltree()">Add Skilltree</button>
</md-toolbar>

<md-card class="no-padding">
  <md-nav-list dense>
    <md-list-item *ngFor="let skilltree of data.skilltrees" (click)="selectSkilltree(skilltree)"
                  [ngClass]="{selected: selectedSkilltree == skilltree}">
      <img md-list-avatar src="assets/img/mobheads/All.png">

      <h3 md-line> {{skilltree.displayName}} </h3>
      <p md-line>
        <span>{{skilltree.name}}</span>
      </p>
    </md-list-item>
  </md-nav-list>
</md-card>

