:host::ng-deep div.mat-list-item-content {
  padding-left: 0 !important;
}

.no-padding, mat-nav-list {
  padding: 0 !important;
}

.handle {
  cursor: grab;
  height: 100% !important;
  border-radius: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  background-color: whitesmoke;
}

.cdk-drop-dragging, .cdk-drag, .draggable-item, .cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.2) !important;
}
