<mat-toolbar class="spacer-b-1em">
  <button mat-raised-button (click)="addSkilltree()">Add Skilltree</button>
</mat-toolbar>

<context-menu #skilltreeMenu>
  <ng-template contextMenuItem (execute)="selectSkilltree($event.item)">
    Edit Skilltree Properties
  </ng-template>
  <ng-template contextMenuItem (execute)="editSkills($event.item)">
    Edit Skill Upgrades
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem (execute)="copySkilltree($event.item)">
    Copy Skilltree
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem let-item (execute)="deleteSkilltree($event.item)">
    Delete {{item?.name}}
  </ng-template>
</context-menu>

<mat-card class="no-padding">
  <mat-nav-list dense
                fxLayout="column"
                dndDropzone
                (dndDrop)="drag($event)"
                class="dndList">
    <mat-list-item dndPlaceholderRef
                   class="dndPlaceholder">
    </mat-list-item>
    <mat-list-item *ngFor="let skilltree of skilltrees"
                   (click)="editSkills(skilltree)"
                   (contextmenu)="onContextMenu($event, skilltree, skilltreeMenu)"
                   [contextMenu]="skilltreeMenu"
                   [contextMenuSubject]="skilltree"
                   [dndDraggable]="skilltree"
                   dndEffectAllowed="move">

      <mat-icon mat-list-icon dndHandle class="handle" svgIcon="drag_handle">drag_handle</mat-icon>

      <img mat-list-avatar dndDragImageRef src="assets/img/mobheads/All.png">

      <h3 mat-line> {{skilltree.name}} </h3>
      <p mat-line>
        <span>{{skilltree.id}}</span>
      </p>
      <span style="flex: 1 1 auto;"></span>
      <button mat-icon-button (click)="selectSkilltree(skilltree)">
        <mat-icon svgIcon="create">create</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteSkilltree(skilltree)">
        <mat-icon svgIcon="delete">delete</mat-icon>
      </button>
      <button mat-icon-button (click)="onContextMenu($event, skilltree, skilltreeMenu)">
        <mat-icon svgIcon="arrow_drop_down">arrow_drop_down</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</mat-card>
