<div *ngIf="selectedSkilltree$ | async as skilltree">
  <sat-popover #durationPopover xAlign="after" yAlign="center" hasBackdrop backdropClass="cdk-overlay-dark-backdrop">
    <mat-card>
      <mat-card-content>
        <mat-card-content [innerHTML]="'COMPONENTS__SKILLS__BEACON__DURATION_POPUP' | translate"></mat-card-content>
      </mat-card-content>
    </mat-card>
  </sat-popover>
  <sat-popover #rangePopover xAlign="after" yAlign="center" hasBackdrop backdropClass="cdk-overlay-dark-backdrop">
    <mat-card>
      <mat-card-content>
        <mat-card-content [innerHTML]="'COMPONENTS__SKILLS__BEACON__NUMBER_POPUP' | translate"></mat-card-content>
      </mat-card-content>
    </mat-card>
  </sat-popover>
  <sat-popover #countPopover xAlign="after" yAlign="center" hasBackdrop backdropClass="cdk-overlay-dark-backdrop">
    <mat-card>
      <mat-card-content>
        <mat-card-content [innerHTML]="'COMPONENTS__SKILLS__BEACON__RANGE_POPUP' | translate"></mat-card-content>
      </mat-card-content>
    </mat-card>
  </sat-popover>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let upgrade of skilltree.skills.Beacon; trackBy: trackById; let i = index"
                         [expanded]="selectedUpgrade == i" (opened)="selectedUpgrade = i">
      <mat-expansion-panel-header>
        {{ upgrade.rule | levelRuleKey | translate:(upgrade.rule | levelRuleToData) }}
      </mat-expansion-panel-header>
      <div fxLayout="column">
        <mat-card>
          <mat-form-field>
            <span matPrefix>{{ 'COMPONENTS__SKILLS__BEACON__RANGE_PREFIX' | translate }}</span>
            <input matInput [placeholder]="'COMPONENTS__SKILLS__BEACON__RANGE' | translate" type="text"
                   pattern="[+-][0-9]+(\.[0-9]+)?"
                   [name]="'range_' + i" #modelRange="ngModel"
                   [ngModel]="upgrade.range ? upgrade.range : '+0'"
                   (blur)="update(skilltree, upgrade, 'range', $event.srcElement.value, modelRange)">
            <span matSuffix>{{ 'COMPONENTS__SKILLS__BEACON__RANGE_SUFFIX' | translate }}</span>
            <mat-error *ngIf="modelRange.errors?.pattern">
              {{ 'COMPONENTS__SKILLS__ERROR_FORMAT' | translate:{ format: '[+-][double]' } }}
            </mat-error>
          </mat-form-field>
          <button mat-icon-button [stcDynamicPopoverAnchorFor]="rangePopover">
            <mat-icon svgIcon="info_outline">info_outline</mat-icon>
          </button>
        </mat-card>
        <mat-card>
          <mat-form-field>
            <span matPrefix>{{ 'COMPONENTS__SKILLS__BEACON__DURATION_PREFIX' | translate }}</span>
            <input matInput [placeholder]="'COMPONENTS__SKILLS__BEACON__DURATION' | translate" type="text"
                   pattern="[+-][0-9]+"
                   [name]="'duration_' + i" #modelDuration="ngModel"
                   [ngModel]="upgrade.duration ? upgrade.duration : '+0'"
                   (blur)="update(skilltree, upgrade, 'duration', $event.srcElement.value, modelDuration)">
            <span matSuffix>{{ 'COMPONENTS__SKILLS__BEACON__DURATION_SUFFIX' | translate }}</span>
            <mat-error *ngIf="modelDuration.errors?.pattern">
              {{ 'COMPONENTS__SKILLS__ERROR_FORMAT' | translate:{ format: '[+-][integer]' } }}
            </mat-error>
          </mat-form-field>
          <button mat-icon-button [stcDynamicPopoverAnchorFor]="durationPopover">
            <mat-icon svgIcon="info_outline">info_outline</mat-icon>
          </button>
        </mat-card>
        <mat-card>
          <mat-form-field>
            <span matPrefix>{{ 'COMPONENTS__SKILLS__BEACON__NUMBER_PREFIX' | translate }}</span>
            <input matInput [placeholder]="'COMPONENTS__SKILLS__BEACON__NUMBER' | translate" type="text"
                   pattern="[+-][0-9]+(\.[0-9]+)?"
                   [name]="'number_' + i" #modelNumber="ngModel"
                   [ngModel]="upgrade.count ? upgrade.count : '+0'"
                   (blur)="update(skilltree, upgrade, 'count', $event.srcElement.value, modelNumber)">
            <span matSuffix>{{ 'COMPONENTS__SKILLS__BEACON__NUMBER_SUFFIX' | translate }}</span>
            <mat-error *ngIf="modelNumber.errors?.pattern">
              {{ 'COMPONENTS__SKILLS__ERROR_FORMAT' | translate:{ format: '[+-][double]' } }}
            </mat-error>
          </mat-form-field>
          <button mat-icon-button [stcDynamicPopoverAnchorFor]="countPopover">
            <mat-icon svgIcon="info_outline">info_outline</mat-icon>
          </button>
        </mat-card>
        <mat-card>
          <mat-list>
            <h3 mat-subheader>Buffs</h3>
            <mat-list-item>
              <img mat-list-avatar class="skill-icon" src="assets/img/skills/beacon/absorption.png">
              <span mat-line style="overflow: unset !important;">
                {{ 'COMPONENTS__SKILLS__BEACON__BUFF__ABSORPTION' | translate }}
                <mat-form-field>
                  <input matInput [placeholder]="'COMPONENTS__SKILLS__BEACON__BUFF_LEVEL' | translate" type="text"
                         pattern="[+-][0-9]+"
                         [name]="'buff_absoption_' + i" #modelBuffAbsorption="ngModel"
                         [ngModel]="upgrade.buffs.absorption ? upgrade.buffs.absorption : '+0'"
                         (blur)="updateBuff(skilltree, upgrade, 'absorption', $event.target.value, modelBuffAbsorption)">
            <mat-error *ngIf="modelBuffAbsorption.errors?.pattern">
              {{ 'COMPONENTS__SKILLS__ERROR_FORMAT' | translate:{ format: '[+-][integer]' } }}
            </mat-error>
                </mat-form-field>
            </span>
            </mat-list-item>
            <mat-list-item>
              <img mat-list-avatar class="skill-icon" src="assets/img/skills/beacon/fireresistance.png">
              <span mat-line>
                <mat-checkbox [checked]="upgrade.buffs.fireResistance == true"
                              [indeterminate]="upgrade.buffs.fireResistance == null"
                              (click)="toggleBuff(skilltree, upgrade, 'fireResistance')">
                  {{ 'COMPONENTS__SKILLS__BEACON__BUFF__FIRE_RESISTANCE' | translate }}
                </mat-checkbox>
        </span>
            </mat-list-item>
            <mat-list-item>
              <img mat-list-avatar class="skill-icon" src="assets/img/skills/beacon/haste.png">
              <span mat-line>
                {{ 'COMPONENTS__SKILLS__BEACON__BUFF__HASTE' | translate }}
                <mat-form-field>
                  <input matInput [placeholder]="'COMPONENTS__SKILLS__BEACON__BUFF_LEVEL' | translate" type="text"
                         pattern="[+-][0-9]+"
                         [name]="'buff_haste_' + i" #modelBuffHaste="ngModel"
                         [ngModel]="upgrade.buffs.haste ? upgrade.buffs.haste : '+0'"
                         (blur)="updateBuff(skilltree, upgrade, 'haste', $event.target.value, modelBuffHaste)">
            <mat-error *ngIf="modelBuffHaste.errors?.pattern">
              {{ 'COMPONENTS__SKILLS__ERROR_FORMAT' | translate:{ format: '[+-][integer]' } }}
            </mat-error>
                </mat-form-field>
              </span>
            </mat-list-item>
            <mat-list-item>
              <img mat-list-avatar class="skill-icon" src="assets/img/skills/beacon/jumpboost.png">
              <span mat-line>
                {{ 'COMPONENTS__SKILLS__BEACON__BUFF__JUMP_BOOST' | translate }}
                <mat-form-field>
                  <input matInput [placeholder]="'COMPONENTS__SKILLS__BEACON__BUFF_LEVEL' | translate" type="text"
                         pattern="[+-][0-9]+"
                         [name]="'buff_jump_boost_' + i" #modelBuffJumpBoost="ngModel"
                         [ngModel]="upgrade.buffs.jumpBoost ? upgrade.buffs.jumpBoost : '+0'"
                         (blur)="updateBuff(skilltree, upgrade, 'jumpBoost', $event.target.value, modelBuffJumpBoost)">
            <mat-error *ngIf="modelBuffJumpBoost.errors?.pattern">
              {{ 'COMPONENTS__SKILLS__ERROR_FORMAT' | translate:{ format: '[+-][integer]' } }}
            </mat-error>
                </mat-form-field>
              </span>
            </mat-list-item>
            <mat-list-item>
              <img mat-list-avatar class="skill-icon" src="assets/img/skills/beacon/luck.png">
              <span mat-line>
                <mat-checkbox [checked]="upgrade.buffs.luck == true"
                              [indeterminate]="upgrade.buffs.luck == null"
                              (click)="toggleBuff(skilltree, upgrade, 'luck')">
                  {{ 'COMPONENTS__SKILLS__BEACON__BUFF__LUCK' | translate }}
                </mat-checkbox>
              </span>
            </mat-list-item>
            <mat-list-item>
              <img mat-list-avatar class="skill-icon" src="assets/img/skills/beacon/nightvision.png">
              <span mat-line>
                <mat-checkbox [checked]="upgrade.buffs.nightVision == true"
                              [indeterminate]="upgrade.buffs.nightVision == null"
                              (click)="toggleBuff(skilltree, upgrade, 'nightVision')">
                  {{ 'COMPONENTS__SKILLS__BEACON__BUFF__NIGHT_VISION' | translate }}
                </mat-checkbox>
              </span>
            </mat-list-item>
            <mat-list-item>
              <img mat-list-avatar class="skill-icon" src="assets/img/skills/beacon/resistance.png">
              <span mat-line>
                {{ 'COMPONENTS__SKILLS__BEACON__BUFF__RESISTANCE' | translate }}
                <mat-form-field>
                  <input matInput [placeholder]="'COMPONENTS__SKILLS__BEACON__BUFF_LEVEL' | translate" type="text"
                         pattern="[+-][0-9]+"
                         [name]="'buff_resistance_' + i" #modelBuffResistance="ngModel"
                         [ngModel]="upgrade.buffs.resistance ? upgrade.buffs.resistance : '+0'"
                         (blur)="updateBuff(skilltree, upgrade, 'resistance', $event.target.value, modelBuffResistance)">
            <mat-error *ngIf="modelBuffResistance.errors?.pattern">
              {{ 'COMPONENTS__SKILLS__ERROR_FORMAT' | translate:{ format: '[+-][integer]' } }}
            </mat-error>
                </mat-form-field>
              </span>
            </mat-list-item>
            <mat-list-item>
              <img mat-list-avatar class="skill-icon" src="assets/img/skills/beacon/speed.png">
              <span mat-line>
                {{ 'COMPONENTS__SKILLS__BEACON__BUFF__SPEED' | translate }}
                <mat-form-field>
                  <input matInput [placeholder]="'COMPONENTS__SKILLS__BEACON__BUFF_LEVEL' | translate" type="text"
                         pattern="[+-][0-9]+"
                         [name]="'buff_speed_' + i" #modelBuffSpeed="ngModel"
                         [ngModel]="upgrade.buffs.speed ? upgrade.buffs.speed : '+0'"
                         (blur)="updateBuff(skilltree, upgrade, 'speed', $event.target.value, modelBuffSpeed)">
            <mat-error *ngIf="modelBuffSpeed.errors?.pattern">
              {{ 'COMPONENTS__SKILLS__ERROR_FORMAT' | translate:{ format: '[+-][integer]' } }}
            </mat-error>
                </mat-form-field>
             </span>
            </mat-list-item>
            <mat-list-item>
              <img mat-list-avatar class="skill-icon" src="assets/img/skills/beacon/strength.png">
              <span mat-line>
                {{ 'COMPONENTS__SKILLS__BEACON__BUFF__STRENGTH' | translate }}
                <mat-form-field>
                  <input matInput [placeholder]="'COMPONENTS__SKILLS__BEACON__BUFF_LEVEL' | translate" type="text"
                         pattern="[+-][0-9]+"
                         [name]="'buff_strength_' + i" #modelBuffStrength="ngModel"
                         [ngModel]="upgrade.buffs.strength ? upgrade.buffs.strength : '+0'"
                         (blur)="updateBuff(skilltree, upgrade, 'strength', $event.target.value, modelBuffStrength)">
            <mat-error *ngIf="modelBuffStrength.errors?.pattern">
              {{ 'COMPONENTS__SKILLS__ERROR_FORMAT' | translate:{ format: '[+-][integer]' } }}
            </mat-error>
                </mat-form-field>
             </span>
            </mat-list-item>
            <mat-list-item>
              <img mat-list-avatar class="skill-icon" src="assets/img/skills/beacon/waterbreathing.png">
              <span mat-line>
                <mat-checkbox [checked]="upgrade.buffs.waterBreathing == true"
                              [indeterminate]="upgrade.buffs.waterBreathing == null"
                              (click)="toggleBuff(skilltree, upgrade, 'waterBreathing')">
                  {{ 'COMPONENTS__SKILLS__BEACON__BUFF__WATER_BREATING' | translate }}
                </mat-checkbox>
              </span>
            </mat-list-item>
            <mat-list-item>
              <img mat-list-avatar class="skill-icon" src="assets/img/skills/beacon/invisibility.png">
              <span mat-line>
                <mat-checkbox [checked]="upgrade.buffs.invisibility == true"
                              [indeterminate]="upgrade.buffs.invisibility == null"
                              (click)="toggleBuff(skilltree, upgrade, 'invisibility')">
                  {{ 'COMPONENTS__SKILLS__BEACON__BUFF__INVISIBILITY' | translate }}
                </mat-checkbox>
              </span>
            </mat-list-item>
            <mat-list-item>
              <img mat-list-avatar class="skill-icon" src="assets/img/skills/beacon/regeneration.png">
              <span mat-line>
                {{ 'COMPONENTS__SKILLS__BEACON__BUFF__REGENERATION' | translate }}
                <mat-form-field>
                  <input matInput [placeholder]="'COMPONENTS__SKILLS__BEACON__BUFF_LEVEL' | translate" type="text"
                         pattern="[+-][0-9]+"
                         [name]="'buff_regeneration_' + i" #modelBuffRegeneration="ngModel"
                         [ngModel]="upgrade.buffs.regeneration ? upgrade.buffs.regeneration : '+0'"
                         (blur)="updateBuff(skilltree, upgrade, 'regeneration', $event.target.value, modelBuffRegeneration)">
            <mat-error *ngIf="modelBuffRegeneration.errors?.pattern">
              {{ 'COMPONENTS__SKILLS__ERROR_FORMAT' | translate:{ format: '[+-][integer]' } }}
            </mat-error>
                </mat-form-field>
             </span>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
      <mat-action-row>
        <button mat-button color="primary" (click)="editRule(skilltree, upgrade)">
          {{ 'COMPONENTS__SKILLS__EDIT' | translate }}
        </button>
        <button mat-button color="warn" (click)="deleteRule(skilltree, upgrade)">
          <mat-icon svgIcon="delete">delete</mat-icon>
          {{ 'COMPONENTS__SKILLS__DELETE' | translate }}
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
