<mat-sidenav-container (backdropClick)="closeSidenav()">
  <mat-sidenav #sidenav class="sidenav"
               fxLayout="column"
               fxLayoutAlign="start center"
               [opened]="showSidenav$ | async"
               [disableClose]="true">
    <button mat-icon-button (click)="importSkilltree()" matTooltipPosition="right"
            [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__IMPORT' | translate">
      <mat-icon svgIcon="input">input</mat-icon>
    </button>
    <button mat-icon-button routerLink="/import/legacy" (click)="closeSidenav()" matTooltipPosition="right"
            [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__IMPORT_LEGACY' | translate">
      <mat-icon svgIcon="input">input</mat-icon>
    </button>
    <button mat-icon-button (click)="closeSidenav()" matTooltipPosition="right" disabled
            [matTooltip]="'COMPONENTS__NOT_YET_IMPLEMENTED' | translate">
      <mat-icon svgIcon="cloud_upload">cloud upload</mat-icon>
    </button>
    <button *ngIf="language$ | async as lang" mat-icon-button (click)="toggleLang(lang)" matTooltipPosition="right"
            [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__CHANGE_LANGUAGE' | translate"
            [disabled]="languages.length <= 1">
      <mat-icon svgIcon="translate">translate</mat-icon>
    </button>
    <button *ngIf="!(premium$ | async)" style="color: red"
            mat-icon-button (click)="togglePremium()" matTooltipPosition="right"
            [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__PREMIUM_ENABLE' | translate">
      <mat-icon svgIcon="star">star</mat-icon>
    </button>
    <button *ngIf="premium$ | async" style="color: green"
            mat-icon-button (click)="togglePremium()" matTooltipPosition="right"
            [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__PREMIUM_DISABLE' | translate">
      <mat-icon svgIcon="star">star</mat-icon>
    </button>
    <button mat-icon-button routerLink="/about" (click)="closeSidenav()" matTooltipPosition="right"
            [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__ABOUT' | translate">
      <mat-icon svgIcon="info_outline">info_outline</mat-icon>
    </button>
  </mat-sidenav>
  <div fxLayout="row" class="top-toolbar">
    <button mat-button
            (click)="openSidenav()"
            class="toolbar-button"
            *ngIf="isRootPath"
            [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__MENU' | translate">
      <mat-icon svgIcon="menu">menu</mat-icon>
    </button>
    <button mat-button
            (click)="back()"
            class="toolbar-button"
            *ngIf="!isRootPath"
            [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__BACK' | translate">
      <mat-icon svgIcon="arrow_back">arrow_back</mat-icon>
    </button>
    <button mat-button
            (click)="save()"
            class="toolbar-button"
            [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__SAVE' | translate">
      <mat-icon svgIcon="save">save</mat-icon>
    </button>
    <button mat-button
            (click)="undo()"
            class="toolbar-button"
            [disabled]="(pastStates$ | async).length <= 0"
            [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__UNDO' | translate">
      <mat-icon svgIcon="undo">undo</mat-icon>
    </button>
    <button mat-button
            (click)="redo()"
            class="toolbar-button"
            [disabled]="(futureStates$ | async).length <= 0"
            [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__REDO' | translate">
      <mat-icon svgIcon="redo">redo</mat-icon>
    </button>
  </div>
  <mat-card>
    <router-outlet></router-outlet>
  </mat-card>
</mat-sidenav-container>
