.sidenav {
  padding: 10px;
  width: 60px;
}

.top-toolbar {
  max-width: calc(100% - 8px);
  width: calc(100% - 8px);
}

@media only screen and (max-width: 599px) {
  .top-toolbar {
    display: flex;
  }

  .toolbar-button {
    flex: 1 1 25%;
  }
}
