<mat-sidenav-container (backdropClick)="closeSidenav()">
  <mat-sidenav [opened]="showSidenav$ | async"
               [disableClose]="true">
    <div fxLayout="column"
         fxLayoutAlign="start center"
         class="sidenav">
      <button mat-icon-button (click)="importSkilltree()" matTooltipPosition="right"
              [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__IMPORT' | translate">
        <fa-icon icon="file-import"></fa-icon>
      </button>
      <button mat-icon-button routerLink="/import/legacy" (click)="closeSidenav()" matTooltipPosition="right"
              [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__IMPORT_LEGACY' | translate">
        <fa-icon icon="file-import"></fa-icon>
      </button>
      <button mat-icon-button (click)="closeSidenav()" matTooltipPosition="right" disabled
              [matTooltip]="'COMPONENTS__NOT_YET_IMPLEMENTED' | translate">
        <fa-icon icon="cloud-upload-alt"></fa-icon>
      </button>
      <button *ngIf="language$ | async as lang" mat-icon-button (click)="toggleLang(lang)" matTooltipPosition="right"
              [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__CHANGE_LANGUAGE' | translate"
              [disabled]="languages.length <= 1">
        <fa-icon icon="language"></fa-icon>
      </button>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button routerLink="/about" (click)="closeSidenav()" matTooltipPosition="right"
              [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__ABOUT' | translate">
        <fa-icon icon="info"></fa-icon>
      </button>
      <button mat-icon-button (click)="close()" matTooltipPosition="right"
              [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__CLOSE' | translate">
        <fa-icon icon="door-open"></fa-icon>
      </button>
    </div>
  </mat-sidenav>
  <div fxLayout="row" class="top-toolbar">
    <button mat-button
            (click)="openSidenav()"
            class="toolbar-button"
            *ngIf="isRootPath"
            [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__MENU' | translate">
      <fa-icon icon="bars"></fa-icon>
    </button>
    <button mat-button
            (click)="back()"
            class="toolbar-button"
            *ngIf="!isRootPath"
            [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__BACK' | translate">
      <fa-icon icon="arrow-left"></fa-icon>
    </button>
    <button mat-button
            (click)="save()"
            class="toolbar-button"
            [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__SAVE' | translate">
      <fa-icon icon="save"></fa-icon>
    </button>
    <button mat-button
            (click)="undo()"
            class="toolbar-button"
            [disabled]="!(hasPast$ | async)"
            [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__UNDO' | translate">
      <fa-icon icon="undo"></fa-icon>
    </button>
    <button mat-button
            (click)="redo()"
            class="toolbar-button"
            [disabled]="!(hasFuture$ | async)"
            [matTooltip]="'COMPONENTS__SKILLTREE_CREATOR__REDO' | translate">
      <fa-icon icon="redo"></fa-icon>
    </button>
  </div>
  <mat-card>
    <router-outlet></router-outlet>
  </mat-card>
</mat-sidenav-container>
