.sidenav {
  padding: 10px;
}

.top-toolbar {
  max-width: calc(100% - 8px);
  width: calc(100% - 8px);
}

@media only screen and (max-width: 599px) {
  .top-toolbar {
    display: flex;
  }

  button {
    flex: 1 1 25%;
  }
}

button {
  min-width: 80px !important;
}
