<mat-sidenav-container (backdropClick)="closeSidenav()">
  <mat-sidenav #sidenav class="sidenav"
               fxLayout="column"
               fxLayoutAlign="start center"
               [opened]="showSidenav$ | async"
               [disableClose]="true">
    <button mat-icon-button (click)="importSkilltree()" matTooltip="Import Skilltree" matTooltipPosition="right">
      <mat-icon svgIcon="input">input</mat-icon>
    </button>
    <button mat-icon-button (click)="closeSidenav()" disabled matTooltip="Not yet implemented"
            matTooltipPosition="right">
      <mat-icon svgIcon="cloud_upload">cloud upload</mat-icon>
    </button>
    <button mat-icon-button routerLink="/about" (click)="closeSidenav()" matTooltip="About" matTooltipPosition="right">
      <mat-icon svgIcon="info_outline">info_outline</mat-icon>
    </button>
  </mat-sidenav>
  <div fxLayout="row" class="top-toolbar">
    <button mat-button
            (click)="openSidenav()"
            class="toolbar-button"
            *ngIf="isRootPath"
            matTooltip="Menu">
      <mat-icon svgIcon="menu">menu</mat-icon>
    </button>
    <button mat-button
            (click)="back()"
            class="toolbar-button"
            *ngIf="!isRootPath"
            matTooltip="Back">
      <mat-icon svgIcon="arrow_back">arrow_back</mat-icon>
    </button>
    <button mat-button
            (click)="save()"
            class="toolbar-button"
            matTooltip="Save">
      <mat-icon svgIcon="save">save</mat-icon>
    </button>
    <button mat-button
            (click)="undo()"
            class="toolbar-button"
            [disabled]="(pastStates$ | async).length <= 0"
            matTooltip="Undo last change">
      <mat-icon svgIcon="undo">undo</mat-icon>
    </button>
    <button mat-button
            (click)="redo()"
            class="toolbar-button"
            [disabled]="(futureStates$ | async).length <= 0"
            matTooltip="Redo last change">
      <mat-icon svgIcon="redo">redo</mat-icon>
    </button>
  </div>
  <mat-card>
    <router-outlet></router-outlet>
  </mat-card>
</mat-sidenav-container>
