html, body, main, skilltree-creator, mat-sidenav-container {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
}

.spacer-b-1em {
  margin-bottom: 1em !important;
}

.spacer-t-1em {
  margin-top: 1em !important;;
}

.spacer-l-1em {
  margin-left: 1em !important;;
}

.spacer-r-1em {
  margin-right: 1em !important;;
}

.bold {
  font-weight: bold !important;
}

mat-expansion-panel-header.mat-expanded, mat-expansion-panel-header.mat-expanded:hover {
  background-color: whitesmoke !important;
}

.mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  color: white !important;
}

.mat-raised-button.mat-primary:disabled, .mat-fab.mat-primary:disabled, .mat-mini-fab.mat-primary:disabled {
  color: inherit !important;
}

.interaction-none {
  cursor: default;
}

.interaction-click {
  cursor: pointer;
}
