.mc_style_§ {
  &0 {
    color: #000000;
  }

  &1 {
    color: #0000AA;
  }

  &2 {
    color: #00AA00;
  }

  &3 {
    color: #00AAAA;
  }

  &4 {
    color: #AA0000;
  }

  &5 {
    color: #AA00AA;
  }

  &6 {
    color: #FFAA00;
  }

  &7 {
    color: #AAAAAA;
  }

  &8 {
    color: #555555;
  }

  &9 {
    color: #5555FF;
  }

  &a {
    color: #55FF55;
    text-shadow: 0 0 1px #000;
  }

  &b {
    color: #55FFFF;
    text-shadow: 0 0 1px #000;
  }

  &c {
    color: #FF5555;
  }

  &d {
    color: #FF55FF;
  }

  &e {
    color: #FFFF55;
    text-shadow: 0 0 1px #000;
  }

  &f {
    color: #FFFFFF;
    text-shadow: 0 0 1px #000;
  }

  &l {
    font-weight: bold;
  }

  &m {
    text-decoration: line-through;
  }

  &m &n {
    text-decoration: line-through underline;
  }

  &n {
    text-decoration: underline;
  }

  &n &m {
    text-decoration: underline line-through;
  }

  &o {
    font-style: italic;
  }
}

.codebox {
  background-color: whitesmoke;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  word-break: break-all;
}
