<sat-popover #messagePopover xAlign="before" yAlign="center" hasBackdrop backdropClass="cdk-overlay-dark-backdrop">
  <mat-card>
    <mat-card-content [innerHTML]="'COMPONENTS__LEVELUP_NOTIFICATIONS__INFO' | translate"></mat-card-content>
  </mat-card>
</sat-popover>

<ng-container *ngIf="selectedSkilltree$ | async as skilltree">
  <mat-toolbar class="spacer-b-1em" fxLayout="row wrap" fxLayoutGap="1em" role="toolbar">
    <button mat-raised-button (click)="addRule(skilltree)">
      {{ 'COMPONENTS__LEVELUP_NOTIFICATIONS__ADD_NOTIFICATION' | translate }}
    </button>
  </mat-toolbar>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let message of skilltree.messages; let i = index"
                         [expanded]="selectedMessage == i" (opened)="selectedMessage = i">
      <mat-expansion-panel-header>
        {{ LevelRule.toKey(message.rule) | translate:LevelRule.toData(message.rule) }}
      </mat-expansion-panel-header>
      <div fxLayout="column" style="padding-top: 1.25em;">
        <mat-input-container>
          <input matInput [placeholder]="'COMPONENTS__LEVELUP_NOTIFICATIONS__MESSAGE' | translate" type="text"
                 [name]="'message_' + i" #modelMessage="ngModel"
                 [ngModel]="message.content"
                 (blur)="update(skilltree, i, modelMessage)">
          <mat-icon matSuffix svgIcon="info_outline" [stcDynamicPopoverAnchorFor]="messagePopover"
                    class="interaction-click">info_outline
          </mat-icon>
        </mat-input-container>
        <div class="codebox interaction-none">
          <ul>
            <li [innerHTML]="replace(modelMessage.value) | mcChat"></li>
          </ul>
        </div>
      </div>
      <mat-action-row>
        <button mat-raised-button color="primary" (click)="deleteRule(skilltree, i)">
          <mat-icon svgIcon="delete">delete</mat-icon>
          {{ 'COMPONENTS__LEVELUP_NOTIFICATIONS__DELETE' | translate }}
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
