<md-toolbar class="spacer-t-1em spacer-b-1em">
  <button md-raised-button (click)="addUpgrade()">Add Upgrade</button>
</md-toolbar>

<md-card>
  <tree-root #tree [nodes]="nodes" [options]="options">

    <ng-template #treeNodeTemplate let-node="node" let-index="index">
      <md-input-container *ngIf="node.data.type == 'chance'" class="bla">
        <span mdPrefix *ngIf="node.data.skillData >= 0">+</span>
        <input mdInput [placeholder]="node.data.name" [(ngModel)]="node.data.skillData" type="number">
        <span mdSuffix>%</span>

      </md-input-container>
      <md-input-container *ngIf="node.data.type == 'duration'" class="bla">
        <span mdPrefix *ngIf="node.data.skillData >= 0">+</span>
        <input mdInput [placeholder]="node.data.name" [(ngModel)]="node.data.skillData" type="number">
        <span mdSuffix>sec</span>
      </md-input-container>

      <span *ngIf="!node.data.type">{{ node.data.name }}</span>
    </ng-template>
  </tree-root>
</md-card>
