<div *ngIf="selectedSkilltree$ | async as skilltree">
  <mat-expansion-panel *ngFor="let upgrade of skilltree.skills.Control; trackBy: trackById; let i = index"
                       [expanded]="selectedUpgrade == i" (opened)="selectedUpgrade = i">
    <mat-expansion-panel-header>
      {{ LevelRule.toKey(upgrade.rule) | translate:LevelRule.toData(upgrade.rule) }}
    </mat-expansion-panel-header>
    <div fxLayout="column">
      <mat-card>
        <mat-checkbox [checked]="upgrade.active == true"
                      [indeterminate]="upgrade.active == null"
                      (click)="toggle(skilltree, upgrade, 'active')"
                      [matTooltip]="upgrade.active == true ? 'Yes' : (upgrade.active == false ? 'No' : 'Don\'t change')"
                      matTooltipPosition="right">
          Active?
        </mat-checkbox>
      </mat-card>
    </div>
    <mat-action-row>
      <button mat-raised-button color="primary" (click)="deleteRule(skilltree, upgrade)">
        <mat-icon svgIcon="delete">delete</mat-icon>
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
