<div *ngIf="selectedSkilltree$ | async as skilltree">
  <sat-popover #rangePopover xAlign="after" yAlign="center" hasBackdrop backdropClass="cdk-overlay-dark-backdrop">
    <mat-card>
      <mat-card-content>
        <mat-card-content [innerHTML]="'COMPONENTS__SKILLS__PICKUP__RANGE_POPUP' | translate"></mat-card-content>
      </mat-card-content>
    </mat-card>
  </sat-popover>

  <mat-expansion-panel *ngFor="let upgrade of skilltree.skills.Pickup; trackBy: trackById; let i = index"
                       [expanded]="selectedUpgrade == i" (opened)="selectedUpgrade = i">
    <mat-expansion-panel-header>
      {{ upgrade.rule | levelRuleKey | translate:(upgrade.rule | levelRuleToData) }}
    </mat-expansion-panel-header>
    <div fxLayout="column">
      <mat-card>
        <mat-form-field>
          <span matPrefix>{{ 'COMPONENTS__SKILLS__PICKUP__RANGE_PREFIX' | translate }}</span>
          <input matInput [placeholder]="'COMPONENTS__SKILLS__PICKUP__RANGE' | translate" type="text"
                 pattern="[+-][0-9]+(\.[0-9]+)?"
                 [name]="'range_' + i" #modelRange="ngModel"
                 [ngModel]="upgrade.range ? upgrade.range : '+0'"
                 (blur)="update(skilltree, upgrade, 'range', $event.srcElement.value, modelRange)">
          <span matSuffix>{{ 'COMPONENTS__SKILLS__PICKUP__RANGE_SUFFIX' | translate }}</span>
          <mat-error *ngIf="modelRange.errors?.pattern">
            {{ 'COMPONENTS__SKILLS__ERROR_FORMAT' | translate:{ format: '[+-][double]' } }}
          </mat-error>
        </mat-form-field>
        <button mat-icon-button [stcDynamicPopoverAnchorFor]="rangePopover">
          <mat-icon svgIcon="info_outline">info_outline</mat-icon>
        </button>
      </mat-card>
      <mat-card>
        <mat-checkbox [checked]="upgrade.exp == true"
                      [indeterminate]="upgrade.exp == null"
                      (click)="toggle(skilltree, upgrade, 'exp')"
                      [matTooltip]="(upgrade.exp == true ? 'COMPONENTS__SKILLS__YES' : (upgrade.exp == false ? 'COMPONENTS__SKILLS__NO' : 'COMPONENTS__SKILLS__DONT_CHANGE')) | translate"
                      matTooltipPosition="right">
          {{ 'COMPONENTS__SKILLS__PICKUP__EXP' | translate }}
        </mat-checkbox>
      </mat-card>
    </div>
    <mat-action-row>
      <button mat-button color="primary" (click)="editRule(skilltree, upgrade)">
        {{ 'COMPONENTS__SKILLS__EDIT' | translate }}
      </button>
      <button mat-button color="warn" (click)="deleteRule(skilltree, upgrade)">
        <mat-icon svgIcon="delete">delete</mat-icon>
        {{ 'COMPONENTS__SKILLS__DELETE' | translate }}
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
