<mat-toolbar class="spacer-t-1em spacer-b-1em">
  <button mat-raised-button (click)="addUpgrade()">Add Upgrade</button>
</mat-toolbar>

<sat-popover #chancePopover horizontalAlign="after" verticalAlign="below">
  <mat-card>
    <mat-card-content>
      <p>The chance at which damage is reflected from the owner to the pet.<br>
        Format: [+-=][number]<br>
        Examples:<br>
        +2<br>
        -3<br>
        =6
      </p>
    </mat-card-content>
  </mat-card>
</sat-popover>
<sat-popover #reflectionPopover horizontalAlign="after" verticalAlign="below">
  <mat-card>
    <mat-card-content>
      <p>The percentage of the damage that will be reflected to the pet.<br>
        Format: [+-=][number]<br>
        Examples:<br>
        +2<br>
        -3<br>
        =6
      </p>
    </mat-card-content>
  </mat-card>
</sat-popover>

<div *ngIf="skill">
  <mat-expansion-panel *ngFor="let upgrade of skill.upgrades">
    <mat-expansion-panel-header>{{LevelRule.toString(upgrade.rule)}}</mat-expansion-panel-header>
    <div>
      <mat-input-container>
        <input matInput placeholder="Chance" [(ngModel)]="upgrade.chance" type="text" pattern="[+-=][0-9]+(\.[0-9]+)?">
        <span matSuffix>%</span>
      </mat-input-container>
      <button mat-icon-button [satPopoverAnchorFor]="chancePopover">
        <mat-icon svgIcon="info_outline">info_outline</mat-icon>
      </button>
    </div>
    <div>
      <mat-input-container>
        <input matInput placeholder="Reflection" [(ngModel)]="upgrade.reflection" type="text"
               pattern="[+-=][0-9]+(\.[0-9]+)?">
        <span matSuffix>%</span>
      </mat-input-container>
      <button mat-icon-button [satPopoverAnchorFor]="reflectionPopover">
        <mat-icon svgIcon="info_outline">info_outline</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</div>
