<div *ngIf="selectedSkilltree$ | async as skilltree">
  <sat-popover #chancePopover xAlign="after" yAlign="center" hasBackdrop backdropClass="cdk-overlay-dark-backdrop">
    <mat-card>
      <mat-card-content>
        <mat-card-content [innerHTML]="'COMPONENTS__SKILLS__SHIELD__CHANCE_POPUP' | translate"></mat-card-content>
      </mat-card-content>
    </mat-card>
  </sat-popover>
  <sat-popover #redirectionPopover xAlign="after" yAlign="center" hasBackdrop backdropClass="cdk-overlay-dark-backdrop">
    <mat-card>
      <mat-card-content>
        <mat-card-content [innerHTML]="'COMPONENTS__SKILLS__SHIELD__REDIRECTED_POPUP' | translate"></mat-card-content>
      </mat-card-content>
    </mat-card>
  </sat-popover>

  <mat-expansion-panel *ngFor="let upgrade of skilltree.skills.Shield; trackBy: trackById; let i = index"
                       [expanded]="selectedUpgrade == i" (opened)="selectedUpgrade = i">
    <mat-expansion-panel-header>
      {{ LevelRule.toKey(upgrade.rule) | translate:LevelRule.toData(upgrade.rule) }}
    </mat-expansion-panel-header>
    <div fxLayout="column">
      <mat-card>
        <mat-form-field>
          <span matPrefix>{{ 'COMPONENTS__SKILLS__SHIELD__CHANCE_PREFIX' | translate }}</span>
          <input matInput [placeholder]="'COMPONENTS__SKILLS__SHIELD__CHANCE' | translate" type="text"
                 pattern="[+-](?:[0-9]|[1-9][0-9]|100)"
                 [name]="'chance_' + i" #modelChance="ngModel"
                 [ngModel]="upgrade.chance ? upgrade.chance : '+0'"
                 (blur)="update(skilltree, upgrade, 'chance', $event.srcElement.value, modelChance)">
          <span matSuffix>{{ 'COMPONENTS__SKILLS__SHIELD__CHANCE_SUFFIX' | translate }}</span>
          <mat-error *ngIf="modelChance.errors?.pattern">
            {{ 'COMPONENTS__SKILLS__ERROR_FORMAT' | translate:{format: '[+-][0-100]'} }}
          </mat-error>
        </mat-form-field>
        <button mat-icon-button [stcDynamicPopoverAnchorFor]="chancePopover">
          <mat-icon svgIcon="info_outline">info_outline</mat-icon>
        </button>
      </mat-card>
      <mat-card>
        <mat-form-field>
          <span matPrefix>{{ 'COMPONENTS__SKILLS__SHIELD__REDIRECTED_PREFIX' | translate }}</span>
          <input matInput [placeholder]="'COMPONENTS__SKILLS__SHIELD__REDIRECTED' | translate"
                 [value]="upgrade.redirect ? upgrade.redirect : '+0'" type="text"
                 pattern="[+-](?:[0-9]|[1-9][0-9]|100)"
                 [name]="'redirection_' + i" #modelRedirection="ngModel"
                 [ngModel]="upgrade.redirect ? upgrade.redirect : '+0'"
                 (blur)="update(skilltree, upgrade, 'redirect', $event.srcElement.value, modelRedirection)">
          <span matSuffix>{{ 'COMPONENTS__SKILLS__SHIELD__REDIRECTED_SUFFIX' | translate }}</span>
          <mat-error *ngIf="modelRedirection.errors?.pattern">
            {{ 'COMPONENTS__SKILLS__ERROR_FORMAT' | translate:{format: '[+-][0-100]'} }}
          </mat-error>
        </mat-form-field>
        <button mat-icon-button [stcDynamicPopoverAnchorFor]="redirectionPopover">
          <mat-icon svgIcon="info_outline">info_outline</mat-icon>
        </button>
      </mat-card>
    </div>
    <mat-action-row>
      <button mat-raised-button color="primary" (click)="deleteRule(skilltree, upgrade)">
        <mat-icon svgIcon="delete">delete</mat-icon>
        {{ 'COMPONENTS__SKILLS__DELETE' | translate }}
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
