<ng-container *ngIf="selectedSkilltree$ | async as skilltree">
  <mat-toolbar class="spacer-b-1em" fxLayout="row wrap" fxLayoutGap="1em" role="toolbar">
    <button mat-raised-button (click)="addRequirement(skilltree)">
      {{ 'COMPONENTS__SKILLTREE_REQUIREMENTS__ADD_REQUIREMENT' | translate }}
    </button>
  </mat-toolbar>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let requirement of (requirements$ | async); let i = index"
                         [expanded]="selected == i" (opened)="selected = i">
      <mat-expansion-panel-header>
        {{ 'COMPONENTS__SKILLTREE_REQUIREMENTS__TITLE_' + requirement.type.toUpperCase() | translate }}
        <span *ngIf="requirement.type == 'Custom'">&nbsp;&nbsp;&rarr;&nbsp;&nbsp;{{ requirement.name }}</span>
      </mat-expansion-panel-header>
      <div fxLayout="column" style="padding-top: 1.25em;">
        <mat-form-field>
          <mat-select [value]="requirement.type"
                      [placeholder]="'COMPONENTS__SKILLTREE_REQUIREMENTS__TYPE' | translate"
                      (selectionChange)="changeRequirementType(i,skilltree,$event.value)">
            <mat-option *ngFor="let knownType of knownTypes" [value]="knownType">
              {{ 'COMPONENTS__SKILLTREE_REQUIREMENTS__TITLE_' + knownType.toUpperCase() | translate }}
            </mat-option>
            <mat-divider></mat-divider>
            <mat-option value="Custom">
              {{ 'COMPONENTS__SKILLTREE_REQUIREMENTS__TITLE_CUSTOM' | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <ng-container [ngSwitch]="requirement.type">
          <stc-requirement-permission *ngSwitchCase="'Permission'"
                                      [skilltree]="skilltree"
                                      [data]="requirement.data"
                                      (update)="update(skilltree, i, $event)"></stc-requirement-permission>
          <stc-requirement-skilltree *ngSwitchCase="'Skilltree'"
                                     [data]="requirement.data"
                                     [skilltree]="skilltree"
                                     (update)="update(skilltree, i, $event)"></stc-requirement-skilltree>
          <span *ngSwitchCase="'NoSkilltree'"></span>
          <stc-requirement-custom *ngSwitchDefault
                                  [name]="requirement.name"
                                  [data]="requirement.data"
                                  (update)="update(skilltree, i, $event)"></stc-requirement-custom>
        </ng-container>
      </div>
      <mat-action-row>
        <button mat-raised-button color="primary" (click)="deleteRequirement(skilltree, i)">
          <mat-icon svgIcon="delete">delete</mat-icon>
          {{ 'COMPONENTS__SKILLTREE_REQUIREMENTS__DELETE' | translate }}
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
