<div *ngIf="selectedSkilltree$ | async as skilltree">
  <mat-toolbar class="spacer-t-1em spacer-b-1em">
    <button mat-raised-button (click)="addUpgrade(skilltree)">Add Upgrade</button>
  </mat-toolbar>

  <mat-expansion-panel *ngFor="let upgrade of skilltree.skills.Sprint; trackBy: id; let i = index"
                       [expanded]="selectedUpgrade == i" (opened)="selectedUpgrade = i">
    <mat-expansion-panel-header>{{LevelRule.toString(upgrade.rule)}}</mat-expansion-panel-header>
    <mat-card>
      <mat-checkbox [checked]="upgrade.active == true"
                    [indeterminate]="upgrade.active == null"
                    (click)="toggle(skilltree, upgrade, 'active')"
                    [matTooltip]="upgrade.active == true ? 'Yes' : (upgrade.active == false ? 'No' : 'Don\'t change')"
                    matTooltipPosition="right">
        Active?
      </mat-checkbox>
    </mat-card>
  </mat-expansion-panel>
</div>
