<div *ngIf="selectedSkilltree$ | async as skilltree">
  <mat-expansion-panel *ngFor="let upgrade of skilltree.skills.Sprint; trackBy: trackById; let i = index"
                       [expanded]="selectedUpgrade == i" (opened)="selectedUpgrade = i">
    <mat-expansion-panel-header>
      {{ LevelRule.toKey(upgrade.rule) | translate:LevelRule.toData(upgrade.rule) }}
    </mat-expansion-panel-header>
    <div fxLayout="column">
      <mat-card>
        <mat-checkbox [checked]="upgrade.active == true"
                      [indeterminate]="upgrade.active == null"
                      (click)="toggle(skilltree, upgrade, 'active')"
                      [matTooltip]="(upgrade.active == true ? 'COMPONENTS__SKILLS__YES' : (upgrade.active == false ? 'COMPONENTS__SKILLS__NO' : 'COMPONENTS__SKILLS__DONT_CHANGE')) | translate"
                      matTooltipPosition="right">
          {{ 'COMPONENTS__SKILLS__SPRINT__ACTIVE' | translate }}
        </mat-checkbox>
      </mat-card>
    </div>
    <mat-action-row>
      <button mat-button color="primary" (click)="editRule(skilltree, upgrade)">
        {{ 'COMPONENTS__SKILLS__EDIT' | translate }}
      </button>
      <button mat-button color="warn" (click)="deleteRule(skilltree, upgrade)">
        <mat-icon svgIcon="delete">delete</mat-icon>
        {{ 'COMPONENTS__SKILLS__DELETE' | translate }}
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</div>
