<div *ngIf="selectedSkilltree$ | async as skilltree">
  <mat-toolbar class="spacer-t-1em spacer-b-1em">
    <button mat-raised-button (click)="addUpgrade(skilltree)">Add Upgrade</button>
  </mat-toolbar>

  <sat-popover #rowsPopover horizontalAlign="after" verticalAlign="below">
    <mat-card>
      <mat-card-content>
        <p>The number of rows the inventory will have.<br>
          Format: [+-=][number]<br>
          Examples:<br>
          +2<br>
          -3<br>
          =6
        </p>
      </mat-card-content>
    </mat-card>
  </sat-popover>

  <!--
  <mat-expansion-panel *ngFor="let upgrade of skilltree.skills.Backpack?.upgrades">
    <mat-expansion-panel-header>{{LevelRule.toString(upgrade.rule)}}</mat-expansion-panel-header>
    <div>
      <mat-input-container>
        <input matInput placeholder="Rows" [value]="upgrade.rows ? upgrade.rows : 0" type="text" pattern="[+-=][0-9]+"
               (blur)="update(skilltree, upgrade, 'rows',$event)">
        <span matSuffix>rows</span>
      </mat-input-container>
      <button mat-icon-button [satPopoverAnchorFor]="rowsPopover">
        <mat-icon>info_outline</mat-icon>
      </button>
    </div>
    <div>
      <mat-button-toggle-group [value]="upgrade.drop ? upgrade.drop : null">
        <mat-button-toggle [value]="true" matTooltip="Activate">
          <mat-icon>check_box</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [value]="null" matTooltip="Don't change">
          <mat-icon>indeterminate_check_box</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [value]="false" matTooltip="Deactivate">
          <mat-icon>check_box_outline_blank</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <span>Drop content on death?</span>
    </div>
  </mat-expansion-panel>
  -->
</div>
