<div *ngIf="selectedSkilltree$ | async as skilltree">
  <sat-popover #rowsPopover xAlign="after" yAlign="center" hasBackdrop backdropClass="cdk-overlay-dark-backdrop">
    <mat-card>
      <mat-card-content [innerHTML]="'COMPONENTS__SKILLS__BACKPACK__ROWS_POPUP' | translate"></mat-card-content>
    </mat-card>
  </sat-popover>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let upgrade of skilltree.skills.Backpack; trackBy: trackById; let i = index"
                         [expanded]="selectedUpgrade == i" (opened)="selectedUpgrade = i">
      <mat-expansion-panel-header>
        {{ LevelRule.toKey(upgrade.rule) | translate:LevelRule.toData(upgrade.rule) }}
      </mat-expansion-panel-header>
      <div fxLayout="column">
        <mat-card>
          <mat-input-container>
            <span matPrefix>{{ 'COMPONENTS__SKILLS__BACKPACK__ROWS_PREFIX' | translate }}</span>
            <input matInput [placeholder]="'COMPONENTS__SKILLS__BACKPACK__ROWS' | translate" [value]="upgrade.rows ? upgrade.rows : 0" type="text"
                   pattern="[+-][0-9]+"
                   (blur)="update(skilltree, upgrade, 'rows', $event.srcElement.value)">
            <span matSuffix>{{ 'COMPONENTS__SKILLS__BACKPACK__ROWS_SUFFIX' | translate }}</span>
          </mat-input-container>
          <button mat-icon-button [stcDynamicPopoverAnchorFor]="rowsPopover">
            <mat-icon svgIcon="info_outline">info_outline</mat-icon>
          </button>
        </mat-card>
        <mat-card>
          <mat-checkbox [checked]="upgrade.drop == true"
                        [indeterminate]="upgrade.drop == null"
                        (click)="toggle(skilltree, upgrade, 'drop')"
                        [matTooltip]="(upgrade.drop == true ? 'COMPONENTS__SKILLS__YES' : (upgrade.drop == false ? 'COMPONENTS__SKILLS__NO' : 'COMPONENTS__SKILLS__DONT_CHANGE')) | translate"
                        matTooltipPosition="right">
            {{ 'COMPONENTS__SKILLS__BACKPACK__DROP_DEATH' | translate }}
          </mat-checkbox>
        </mat-card>
      </div>
      <mat-action-row>
        <button mat-raised-button color="primary" (click)="deleteRule(skilltree, upgrade)">
          <mat-icon svgIcon="delete">delete</mat-icon>
          {{ 'COMPONENTS__SKILLS__DELETE' | translate }}
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
